{% extends 'main/header.html' %}
{% load static %}


{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/about.css' %}">
{% endblock %}


{% block script %}
<script src="{% static 'main/js/about.js' %}" defer></script>
{% endblock %}


{% block title %}
О нас
{% endblock %}


{% block navigation %}
<a href="/">Главная</a> » О нас
{% endblock %}

{% block mobile_navigation %}
<a href="/">Главная</a> » О нас
{% endblock %}


{% block title_text %}
История компании
{% endblock %}

{% block extra_text %}
S.K. Tower - это молодая компания, которая была создана в 2024 году. Несмотря на свой короткий срок существования, мы обладаем обширным опытом в строительстве домов из камня и дерева. Наш опыт был накоплен благодаря работе в различных строительных коллективах и компаниях, что позволило нам приобрести ценный опыт и знания.
{% endblock %}


{% block mobile_title_text %}
История компании
{% endblock %}

{% block mobile_extra_text %}
S.K. Tower - это молодая компания, которая была создана в 2024 году. Несмотря на свой короткий срок существования, мы обладаем обширным опытом в строительстве домов из камня и дерева. Наш опыт был накоплен благодаря работе в различных строительных коллективах и компаниях, что позволило нам приобрести ценный опыт и знания.
{% endblock %}


{% block content %}
{% endblock %}