{% extends 'main/header.html' %}
{% load static %}


{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/about.css' %}">
{% endblock %}


{% block script %}
<script src="{% static 'main/js/about.js' %}" defer></script>
{% endblock %}


{% block title %}
О нас
{% endblock %}


{% block navigation %}
<a href="/">Главная</a> » О нас
{% endblock %}

{% block mobile_navigation %}
<a href="/">Главная</a> » О нас
{% endblock %}


{% block title_text %}
История компании
{% endblock %}

{% block extra_text %}
S.K. Tower - это молодая компания, которая была создана в 2024 году. Несмотря на свой короткий срок существования, мы обладаем обширным опытом в строительстве домов из камня и дерева. Наш опыт был накоплен благодаря работе в различных строительных коллективах и компаниях, что позволило нам приобрести ценный опыт и знания.
{% endblock %}


{% block mobile_title_text %}
История компании
{% endblock %}

{% block mobile_extra_text %}
S.K. Tower - это молодая компания, которая была создана в 2024 году. Несмотря на свой короткий срок существования, мы обладаем обширным опытом в строительстве домов из камня и дерева. Наш опыт был накоплен благодаря работе в различных строительных коллективах и компаниях, что позволило нам приобрести ценный опыт и знания.
{% endblock %}


{% block content %}
<div class="about_block" id="block1">
    <div class="about_block_icons">
        <img src="{% static 'main/png/about/about_icon1.png' %}" class="about_icon" draggable="false">
        <img src="{% static 'main/png/about/about_icon2.png' %}" class="about_icon" draggable="false">
        <img src="{% static 'main/png/about/about_icon3.png' %}" class="about_icon" draggable="false">
    </div>
    <div class="about_block_info">
        <p class="about_block_title">Наша миссия и ценности</p>
        <p class="about_block_text">Мы стремимся разрабатывать продукцию, соответствующую самым современным стандартам и технологиям в строительной отрасли. Наша цель - предложить клиентам инновационные и надежные дома, соответствующие последним тенденциям в архитектуре и дизайне.
            Наша команда постоянно внедряет новые идеи, совершенствуется и стремится стать лучшей в своей сфере.</p>
    </div>
</div>

<div class="about_digits_block" id="block2">
    <div class="about_digits">
        <div class="about_digit_value">50+</div>
        <p class="about_digit_text">Семей нашли свой дом среди наших строений</p>
    </div>
    <div class="about_digits">
        <div class="about_digit_value">80+</div>
        <p class="about_digit_text">Уникальных проектов было успешно воплощено в жизнь</p>
    </div>
    <div class="about_digits">
        <div class="about_digit_value">10</div>
        <p class="about_digit_text">Лет непрерывной и надежной работы в индустрии строительства</p>
    </div>
    <div class="about_digits">
        <div class="about_digit_value">96%</div>
        <p class="about_digit_text">Клиентов рекомендуют нашу компанию своим друзьям и семьям</p>
    </div>
</div>

<div class="causes_block" id="block3">
    <h1 class="block_title">Причины выбрать нас</h1>
    <p class="causes_text">Мы гарантируем высокое качество выполняемых работ, внимательное отношение к каждому клиенту и строгое соблюдение сроков.
        Обратившись к нам, вы получите надежного партнера в реализации ваших строительных задумок!</p>
    <div class="causes">
        <div class="cause">
            <img src="{% static 'main/png/about/cause_icon1.png' %}" class="cause_icon" draggable="false">
            <p class="cause_text">Мы проектируем с вниманием и заботой.</p>
        </div>
        <div class="cause">
            <img src="{% static 'main/png/about/cause_icon2.png' %}" class="cause_icon" draggable="false">
            <p class="cause_text">Мы предоставляем гарантию на наши дома от 10 лет.</p>
        </div>
        <div class="cause">
            <img src="{% static 'main/png/about/cause_icon4.png' %}" class="cause_icon" draggable="false">
            <p class="cause_text">Мы предлагаем удобное поэтапное сопровождение проекта.</p>
        </div>
        <div class="cause">
            <img src="{% static 'main/png/about/cause_icon5.png' %}" class="cause_icon" draggable="false">
            <p class="cause_text">Мы обеспечиваем независимый контроль качества.</p>
        </div>
    </div>
</div>

<div class="our_works" id="block4">
    <h1 class="block_title">Примеры наших выполненных проектов</h1>
    <div class="slides">
        <div class="slide">
            <img src="{% static 'main/png/home/background.png' %}" class="slide_photo" draggable="false">
        </div>
        <div class="slide">
            <img src="{% static 'main/png/home/mobile_background.png' %}" class="slide_photo" draggable="false">
        </div>
        <div class="slide">
            <img src="{% static 'main/png/home/background.png' %}" class="slide_photo" draggable="false">
        </div>
        <div class="slide">
            <img src="{% static 'main/png/home/special_block2_foto.png' %}" class="slide_photo" draggable="false">
        </div>
        <a class="prev" onclick="plusSlides(-1)">❮</a>
        <a class="next" onclick="plusSlides(1)">❯</a>
    </div>
    <a href="{% url 'portfolio' %}" class="we_all_projects">Все объекты</a>
</div>


<div class="special_block">
    <p class="special_block_title">Получить консультацию специалиста</p>
    <div class="special_block_inputs">
        <input id='name' type="text" name="name" placeholder="Ваше имя" class="special_block_input">
        <input id="phone" type="tel" name="phone" placeholder="Ваш телефон" class="special_block_input">
    </div>
    <div class="special_block_buttons">
        <div class="special_buttons">
            <div class="special_button1" id='send_consultation_button' onclick="send_consultation()">Отправить заявку</div>
            <div class="special_button2">Позвонить нам</div>
        </div>
        <label class="container">Согласен на обработку <a href="#soglasie1" id="soglasie_open9" class="container_a">персональных данных</a> в соответствии с <a href="{% url 'agreement' %}" class="container_a">пользовательским соглашением</a>
            <input type="checkbox" id="agreement" name="agreement" checked>
            <span class="checkmark"></span>
        </label>
    </div>
</div>

<div class="reviews_block" id="block5">
    <h1 class="block_title">Отзывы</h1>
    <div class="reviews">
        <div class="review">
            <div>
                <div class="person_info">
                    <img src="{% static 'main/png/home/person_icon.png' %}" class="person_icon" draggable="false">
                    <p class="person_name">Олег Артемьев</p>
                </div>
                <p class="review_text">
                    После строительства потребовалось выполнить наружную отделку сооружения. Обратились в компанию.
                    Ребята помогли выбрать облицовку, заделали щели все с внешней части дома. отличная работа.
                    Результатом довольны. Будем бытовку строить, обратимся снова вновь.
                </p>
            </div>
            <p class="continue_read">читать далее</p>
        </div>
        <div class="review">
            <div>
                <div class="person_info">
                    <img src="{% static 'main/png/home/person_icon.png' %}" class="person_icon" draggable="false">
                    <p class="person_name">Олег Артемьев</p>
                </div>
                <p class="review_text">
                    После строительства потребовалось выполнить наружную отделку сооружения. Обратились в компанию.
                    Ребята помогли выбрать облицовку, заделали щели все с внешней части дома. отличная работа.
                    Результатом довольны. Будем бытовку строить, обратимся снова вновь.
                </p>
            </div>
            <p class="continue_read">читать далее</p>
        </div>
        <div class="review">
            <div>
                <div class="person_info">
                    <img src="{% static 'main/png/home/person_icon.png' %}" class="person_icon" draggable="false">
                    <p class="person_name">Олег Артемьев</p>
                </div>
                <p class="review_text">
                    После строительства потребовалось выполнить наружную отделку сооружения. Обратились в компанию.
                    Ребята помогли выбрать облицовку, заделали щели все с внешней части дома. отличная работа.
                    Результатом довольны. Будем бытовку строить, обратимся снова вновь.
                </p>
            </div>
            <p class="continue_read">читать далее</p>
        </div>
    </div>
    <a href="{% url 'reviews' %}" class="we_all_projects">Все отзывы</a>
</div>


<div class="contact_block" id="block6">
    <h1 class="block_title">Контакты</h1>
    <div class="map1">
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A8c00b0b0041d720cbdce5e9ba1018d245506eae28baf4a732a6c180f23117575&amp;width=100%25&amp;height=550&amp;lang=ru_RU&amp;scroll=true"></script>    </div>
    <div class="map2">
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A8c00b0b0041d720cbdce5e9ba1018d245506eae28baf4a732a6c180f23117575&amp;width=100%25&amp;height=700&amp;lang=ru_RU&amp;scroll=true"></script>    </div>
    <div class="contact_info_block">
        <p class="contact_info_title">Адрес:</p>
        <p class="contact_info_text">МО, г. Москва, Ломоносовский пр-кт, д.55, оф. 56</p>
        <p class="contact_info_title">Телефоны:</p>
        <a class="contact_info_text" href="/">+7 (999) 324-55-55</a>
        <a class="contact_info_text" href="/">+7 (999) 565-56-55</a>
        <p class="contact_info_title">E-mail:</p>
        <a class="contact_info_text" href="/">test@gmail.com</a>
        <div class="contact_button">Обратная связь</div>
    </div>
</div>

{% endblock %}