{% extends 'main/header.html' %}
{% load static %}


{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/compare.css' %}">
{% endblock %}


{% block script %}
<script src="{% static 'main/js/compare.js' %}" defer></script>
{% endblock %}


{% block title %}
Сравнение
{% endblock %}


{% block navigation %}
<a href="/">Главная</a> » Сравнение
{% endblock %}

{% block mobile_navigation %}
<a href="/">Главная</a> » Сравнение
{% endblock %}


{% block title_text %}
Сравнение проектов
{% endblock %}

{% block extra_text %}
Сравнение проектов: анализ и выбор лучших решений для вашего идеального дома.
{% endblock %}


{% block mobile_title_text %}
Сравнение проектов
{% endblock %}

{% block mobile_extra_text %}
Сравнение проектов: анализ и выбор лучших решений для вашего идеального дома.
{% endblock %}


{% block content %}
{% endblock %}