{% extends 'main/header.html' %}
{% load static %}
{% load custom_filters %}


{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/compare.css' %}">
{% endblock %}


{% block script %}
<script src="{% static 'main/js/compare.js' %}" defer></script>
{% endblock %}


{% block title %}
Сравнение
{% endblock %}


{% block navigation %}
<a href="/">Главная</a> » Сравнение
{% endblock %}

{% block mobile_navigation %}
<a href="/">Главная</a> » Сравнение
{% endblock %}


{% block title_text %}
Сравнение проектов
{% endblock %}

{% block extra_text %}
Сравнение проектов: анализ и выбор лучших решений для вашего идеального дома.
{% endblock %}


{% block mobile_title_text %}
Сравнение проектов
{% endblock %}

{% block mobile_extra_text %}
Сравнение проектов: анализ и выбор лучших решений для вашего идеального дома.
{% endblock %}


{% block content %}

<div class="compare_page">
    <div class="compare_buttons">
        <img src="{% static 'main/png/compare/compare_prev.png' %}" id='compare_prev' class="compare_button" onclick="move_compare(-1)" data-active-src="{% static 'main/png/compare/compare_prev_active.png' %}" data-inactive-src="{% static 'main/png/compare/compare_prev.png' %}" draggable="false">
        <img src="{% static 'main/png/compare/compare_next.png' %}" id='compare_next' class="compare_button" onclick="move_compare(1)" data-active-src="{% static 'main/png/compare/compare_next_active.png' %}" data-inactive-src="{% static 'main/png/compare/compare_next.png' %}" draggable="false">
    </div>
    <div class="compare_content">
        <div class="compare_head">
            <div class="compare_head1"></div>
            <div class="compare_head2">Цена</div>
            <div class="compare_head3">Общая площадь</div>
            <div class="compare_head4">Жилая площадь</div>
            <div class="compare_head5">Количество спален</div>
            <div class="compare_head6">Количество санузлов</div>
            <div class="compare_head7">Количество этажей</div>
            <div class="compare_head8">Наличие террасы</div>
        </div>

        <div class="projects_compare">
            {% for project in projects %}
                <div class="project_compare" id="project_{{ project.id }}">
                    <div class="project_compare_head1">
                        <img src="{% static project.images.all.0 %}" alt="" class="project_compare_image">
                        <img src="{% static 'main/png/compare/delete_compare.png' %}" alt="" class="project_compare_delete" onclick="addCompares({{ project.id }})">
                        <p class="project_compare_name">{{ project.name }}</p>
                    </div>
                    <div class="project_compare_head2">от {{ project.min_price|format_price }} руб</div>
                    <div class="project_compare_head3">{{ project.total_area }} м²</div>
                    <div class="project_compare_head4">{{ project.living_area }} м²</div>
                    <div class="project_compare_head5">{{ project.bedrooms }}</div>
                    <div class="project_compare_head6">{{ project.bathroom }}</div>
                    <div class="project_compare_head7">{{ project.floors }}</div>
                    {% if project.terrace %}
                        <div class="project_compare_head8">Есть</div>
                    {% else %}
                        <div class="project_compare_head8">Нет</div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>


<div class="special_block222">
    <div class="special_block1">
        <div class="special_block1_1">
            <h1 class="special_block_title">У вас уже есть проект или смета на дом?</h1>
            <p class="special_block_text">Прикрепите готовую смету, и мы расскажем, как можно сэкономить</p>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="file" class="file_input"></label>
                <input type="file" id="file" class="feedback__file" name="file">
                <p class="file_name" id="file_name"></p>
                <p class="info_file_text" id="info_file_text">*Если у Вас более одного файла, поместите их все в один архив</p>
                <input id='name' type="text" name="name" placeholder="Ваше имя" class="special_block_input">
                <input id="phone" type="tel" name="phone" placeholder="Ваш телефон" class="special_block_input">
            </form>
        </div>
        <label class="mobile_container">Согласен на обработку <a href="#soglasie1" id="soglasie_open4" class="container_a">персональных данных</a> в соответствии с <a href="{% url 'agreement' %}" class="container_a">пользовательским соглашением</a>
            <input type="checkbox" id="agreement" name="agreement" checked required>
            <span class="mobile_checkmark"></span>
        </label>
        <div class="special_block1_2">
            <div class="special_button1" id='send_estimate_button' onclick="send_estimate()">Отправить заявку</div>
            <a class="special_button2" style="text-decoration: none;" href="tel:89958866700">Позвонить нам</a>
        </div>
    </div>

    <div class="special_block2">
        <img src="{% static 'main/png/home/special_block2_foto.png' %}" class="special_block2_foto" draggable="false">
        <label class="container">Согласен на обработку <a href="#soglasie1" id="soglasie_open5" class="container_a">персональных данных</a> в соответствии с <a href="{% url 'agreement' %}" class="container_a">пользовательским соглашением</a>
            <input type="checkbox" checked required>
            <span class="checkmark"></span>
        </label>
    </div>
</div>


{% endblock %}