{% extends 'main/header.html' %}
{% load static %}


{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/contacts.css' %}">
{% endblock %}


{% block script %}
<script src="{% static 'main/js/contacts.js' %}" defer></script>
{% endblock %}


{% block title %}
Контакты SK Tower – Свяжитесь с нами
{% endblock %}


{% block description %}
<meta name="description" content="Контакты для связи с SK Tower. Адрес, телефон и электронная почта для консультаций по строительству домов под ключ.">
{% endblock %}


{% block navigation %}
<a href="/">Главная</a> » Контакты
{% endblock %}

{% block mobile_navigation %}
<a href="/">Главная</a> » Контакты
{% endblock %}


{% block title_text %}
Контакты
{% endblock %}

{% block extra_text %}
Наши контакты: легкий путь для связи с нами.
{% endblock %}


{% block mobile_title_text %}
Контакты
{% endblock %}

{% block mobile_extra_text %}
Наши контакты: легкий путь для связи с нами.
{% endblock %}


{% block content %}
<div class="contact_block" id="block1">
    <h1 class="block_title">Контакты</h1>
    <div class="map1">
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A9a67d05afb6759345986696b84ba3b4a3e992b087c98bf10f3f849aa38755d13&amp;width=100%25&amp;height=550&amp;lang=ru_RU&amp;scroll=true"></script>
    </div>
    <div class="map2">
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A9a67d05afb6759345986696b84ba3b4a3e992b087c98bf10f3f849aa38755d13&amp;width=100%25&amp;height=700&amp;lang=ru_RU&amp;scroll=true"></script>
    </div>
    <div class="contact_info_block">
        <p class="contact_info_title">Адрес:</p>
        <p class="contact_info_text">{{ address }}</p>
        <p class="contact_info_title">Телефоны:</p>
        <a class="contact_info_text" href="tel:{{ number }}">{{ number }}</a>
        <a class="contact_info_text" href="tel:{{ extra_number }}">{{ extra_number }}</a>
        <p class="contact_info_title">E-mail:</p>
        <a class="contact_info_text" href="mailto:{{ mail }}">{{ mail }}</a>
        <div class="contact_button" id="openFormBtn5">Обратная связь</div>
    </div>
</div>

<div class="ur_info_block" id="block2">
    <h1 class="ur_block_title">Юридическая информация</h1>
    <div class="ur_info">
        <div class="ur_info_content">
            <div class="ur_item">
                <p class="ur_title">Сокращенное наименование</p>
                <p class="ur_value">{{ short_name }}</p>
            </div>
            <div class="ur_item">
                <p class="ur_title">Юридический адрес</p>
                <p class="ur_value">{{ ur_address }}</p>
            </div>
            <div class="ur_item">
                <p class="ur_title">Физический адрес</p>
                <p class="ur_value">{{ phis_address }}</p>
            </div>
            <div class="ur_item">
                <p class="ur_title">ОГРНИП</p>
                <p class="ur_value">{{ ogrnip }}</p>
            </div>
            <div class="ur_item">
                <p class="ur_title">ИНН</p>
                <p class="ur_value">{{ inn }}</p>
            </div>
        </div>

        <div class="ur_info_content">
            <div class="ur_item">
                <p class="ur_title">Дата присвоения ОГРНИП</p>
                <p class="ur_value">{{ data_ogrnip }}</p>
            </div>
            <div class="ur_item">
                <p class="ur_title">КПП</p>
                <p class="ur_value">{{ kpp }}</p>
            </div>
            <div class="ur_item">
                <p class="ur_title">Расчетный счет</p>
                <p class="ur_value">{{ chet }}</p>
            </div>
            <div class="ur_item">
                <p class="ur_title">Название банка</p>
                <p class="ur_value">{{ bank_name }}</p>
            </div>
            <div class="ur_item">
                <p class="ur_title">Корреспондентский счет</p>
                <p class="ur_value">{{ kor_chet }}</p>
            </div>
            <div class="ur_item">
                <p class="ur_title">БИК</p>
                <p class="ur_value">{{ bik }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}