{% extends 'main/header.html' %}
{% load static %}


{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/contacts.css' %}">
{% endblock %}


{% block script %}
<script src="{% static 'main/js/contacts.js' %}" defer></script>
{% endblock %}


{% block title %}
Контакты
{% endblock %}


{% block navigation %}
<a href="/">Главная</a> » Контакты
{% endblock %}

{% block mobile_navigation %}
<a href="/">Главная</a> » Контакты
{% endblock %}


{% block title_text %}
Контакты
{% endblock %}

{% block extra_text %}
Наши контакты: легкий путь для связи с нами.
{% endblock %}


{% block mobile_title_text %}
Контакты
{% endblock %}

{% block mobile_extra_text %}
Наши контакты: легкий путь для связи с нами.
{% endblock %}


{% block content %}
{% endblock %}