{% extends 'main/header.html' %}
{% load static %}
{% load custom_filters %}


{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/favorites.css' %}">
{% endblock %}


{% block script %}
<script src="{% static 'main/js/favorites.js' %}" defer></script>
{% endblock %}


{% block title %}
Избранное
{% endblock %}


{% block navigation %}
<a href="/">Главная</a> » Избранное
{% endblock %}

{% block mobile_navigation %}
<a href="/">Главная</a> » Избранное
{% endblock %}


{% block title_text %}
Избранные проекты
{% endblock %}

{% block extra_text %}
Избранные проекты: ваша личная подборка идеальных решений для вашего дома.
{% endblock %}


{% block mobile_title_text %}
Избранные проекты
{% endblock %}

{% block mobile_extra_text %}
Избранные проекты: ваша личная подборка идеальных решений для вашего дома.
{% endblock %}


{% block content %}
<div class="projects" id="projects">
    {% for project in projects %}
        <a class="project" href="{% url 'project' project.id %}" id='project_{{ project.id }}'>
            <div class="project_block1" style="background-image: url('../static/{{ project.images.all.0 }}');">
                <div class="project_compare_block" onclick="event.preventDefault();">
                    <img src="{% static 'main/png/home/project_compare.png' %}" id='project_compare_{{ project.id }}' class="project_action_button" onclick="addToCompares({{ project.id }})" data-active-src="{% static 'main/png/home/project_compare_active.png' %}" data-inactive-src="{% static 'main/png/home/project_compare.png' %}"draggable="false">
                </div>
                <div class="favourite_block" onclick="event.preventDefault();">
                    <img src="{% static 'main/png/home/project_favourite.png' %}" id='project_like_{{ project.id }}' class="project_action_button" onclick="addToFavorites({{ project.id }})" data-active-src="{% static 'main/png/home/project_favourite_active.png' %}" data-inactive-src="{% static 'main/png/home/project_favourite.png' %}" draggable="false">
                </div>
            </div>
            <div class="project_block2">
                <div class="project_stat">
                    <p class="project_name">{{ project.name }}</p>
                    <p class="project_area">{{ project.total_area }} м²</p>
                </div>
                <p class="project_price">от {{ project.min_price|format_price }} руб</p>
                <div class="consultation_button" onclick="event.preventDefault();">Получить консультацию</div>
            </div>
        </a>
    {% endfor %}
</div>
<p class="none_projects" id="none_projects">У вас нет избранных проектов</p>


<div class="special_block222">
    <div class="special_block1">
        <div class="special_block1_1">
            <h1 class="special_block_title">У вас уже есть проект или смета на дом?</h1>
            <p class="special_block_text">Прикрепите готовую смету, и мы расскажем, как можно сэкономить</p>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="file" class="file_input"></label>
                <input type="file" id="file" class="feedback__file" name="file">
                <p class="file_name" id="file_name"></p>
                <p class="info_file_text" id="info_file_text">*Если у Вас более одного файла, поместите их все в один архив</p>
                <input id='name' type="text" name="name" placeholder="Ваше имя" class="special_block_input">
                <input id="phone" type="tel" name="phone" placeholder="Ваш телефон" class="special_block_input">
            </form>
        </div>
        <label class="mobile_container">Согласен на обработку <a href="#soglasie1" id="soglasie_open4" class="container_a">персональных данных</a> в соответствии с <a href="{% url 'agreement' %}" class="container_a">пользовательским соглашением</a>
            <input type="checkbox" id="agreement" name="agreement" checked required>
            <span class="mobile_checkmark"></span>
        </label>
        <div class="special_block1_2">
            <div class="special_button1" id='send_estimate_button' onclick="send_estimate()">Отправить заявку</div>
            <a class="special_button2" style="text-decoration: none;" href="tel:89958866700">Позвонить нам</a>
        </div>
    </div>

    <div class="special_block2">
        <img src="{% static 'main/png/home/special_block2_foto.png' %}" class="special_block2_foto" draggable="false">
        <label class="container">Согласен на обработку <a href="#soglasie1" id="soglasie_open5" class="container_a">персональных данных</a> в соответствии с <a href="{% url 'agreement' %}" class="container_a">пользовательским соглашением</a>
            <input type="checkbox" checked required>
            <span class="checkmark"></span>
        </label>
    </div>
</div>
{% endblock %}