{% extends 'main/header.html' %}
{% load static %}


{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/finished.css' %}">
{% endblock %}


{% block script %}
<script src="{% static 'main/js/finished.js' %}" defer></script>
{% endblock %}


{% block title %}
Название проекта
{% endblock %}


{% block navigation %}
<a href="/">Главная</a> » <a href="{% url 'portfolio' %}">Портфолио</a> » {{ project.object_name }} ({{ project.address }})
{% endblock %}

{% block mobile_navigation %}
<a href="/">Главная</a> » <a href="{% url 'portfolio' %}">Портфолио</a> » {{ project.object_name }} ({{ project.address }})
{% endblock %}


{% block title_text %}
{{ project.object_name }} ({{ project.address }})
{% endblock %}

{% block extra_text %}
Ознакомьтесь с нашим готовым проектом и погрузитесь в атмосферу комфорта и качества, которые мы гарантируем в каждом нашем проекте.
{% endblock %}


{% block mobile_title_text %}
{{ project.object_name }} ({{ project.address }})
{% endblock %}

{% block mobile_extra_text %}
Ознакомьтесь с нашим готовым проектом и погрузитесь в атмосферу комфорта и качества, которые мы гарантируем в каждом нашем проекте.
{% endblock %}


{% block content %}
<div class="finished_project">
    <div class="slides">
        {% for image in project.images.all %}
            <div class="slide">
                <img src="{% static image %}" class="slide_photo" draggable="false">
            </div>
        {% endfor %}
        <a class="prev" onclick="plusSlides(-1)">❮</a>
        <a class="next" onclick="plusSlides(1)">❯</a>
    </div>
    <div class="description">
        <p class="description_title">Описание</p>
        <div class="description_row" style="background-color: rgba(0, 0, 0, 0.1);">
            <p class="row_name">Название проекта</p>
            <p class="row_value">{{ project.object_name }}</p>
        </div>
        <div class="description_row">
            <p class="row_name">Срок выполнения</p>
            <p class="row_value">{{ project.deadlines }} дн.</p>
        </div>
        <div class="description_row" style="background-color: rgba(0, 0, 0, 0.1);">
            <p class="row_name">Комплектация</p>
            <p class="row_value">{{ project.equipment }}</p>
        </div>
        <div class="description_row">
            <p class="row_name">Материал стен</p>
            <p class="row_value">{{ project.wall_material }}</p>
        </div>
        <div class="description_row" style="background-color: rgba(0, 0, 0, 0.1);">
            <p class="row_name">Общая прощадь</p>
            <p class="row_value">{{ project.total_area }} кв.м.</p>
        </div>
        <div class="description_row">
            <p class="row_name">Жилая прощадь</p>
            <p class="row_value">{{ project.living_area }} кв.м.</p>
        </div>
        <div class="description_row" style="background-color: rgba(0, 0, 0, 0.1);">
            <p class="row_name">Адрес</p>
            <p class="row_value">{{ project.address }}</p>
        </div>
    </div>
</div>
{% if project.review != '-' %}
    <div class="review">
        <p class="review_title">Отзыв заказчика</p>
        <div class="review_box">
            <p class="reviewer_name">{{ project.reviewer_name }}</p>
            <p class="review_text">{{ project.review }}</p>
        </div>
    </div>
{% endif %}
{% endblock %}