{% extends 'main/header.html' %}
{% load static %}


{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/finished.css' %}">
{% endblock %}


{% block script %}
<script defer src="/examples/libs/simple-adaptive-slider/simple-adaptive-slider.min.js"></script>
<script src="{% static 'main/js/finished.js' %}" defer></script>
{% endblock %}


{% block title %}
Название проекта
{% endblock %}


{% block navigation %}
<a href="/">Главная</a> » <a href="{% url 'portfolio' %}">Портфолио</a> » {{ project.object_name }} ({{ project.address }})
{% endblock %}

{% block mobile_navigation %}
<a href="/">Главная</a> » <a href="{% url 'portfolio' %}">Портфолио</a> » {{ project.object_name }} ({{ project.address }})
{% endblock %}


{% block title_text %}
{{ project.object_name }} ({{ project.address }})
{% endblock %}

{% block extra_text %}
Ознакомьтесь с нашим готовым проектом и погрузитесь в атмосферу комфорта и качества, которые мы гарантируем в каждом нашем проекте.
{% endblock %}


{% block mobile_title_text %}
{{ project.object_name }} ({{ project.address }})
{% endblock %}

{% block mobile_extra_text %}
Ознакомьтесь с нашим готовым проектом и погрузитесь в атмосферу комфорта и качества, которые мы гарантируем в каждом нашем проекте.
{% endblock %}


{% block content %}
<div class="finished_project">
    <div class="slider">
        <div class="slider__wrapper">
            <div class="slider__items">
                {% for image in project.images.all %}
                    <div class="slider__item">
                        <img src="{% static image %}" class="slide_photo" draggable="false">
                    </div>
                {% endfor %}
            </div>
        </div>
        <a class="slider__control slider__control_prev" href="#" role="button" data-slide="prev" style="color: white; border: 0;"></a>
        <a class="slider__control slider__control_next" href="#" role="button" data-slide="next" style="color: white; border: 0;"></a>
        <ol class="slider__indicators">
            {% for i in images_count %}
                <li class="slider__indicator" data-slide-to={{ i }}></li>
            {% endfor %}
        </ol>
    </div>
    <div class="description">
        <p class="description_title">Описание</p>
        <div class="description_row" style="background-color: rgba(0, 0, 0, 0.1);">
            <p class="row_name">Название проекта</p>
            <p class="row_value">{{ project.object_name }}</p>
        </div>
        <div class="description_row">
            <p class="row_name">Срок выполнения</p>
            <p class="row_value">{{ project.deadlines }} дн.</p>
        </div>
        <div class="description_row" style="background-color: rgba(0, 0, 0, 0.1);">
            <p class="row_name">Комплектация</p>
            <p class="row_value">{{ project.equipment }}</p>
        </div>
        <div class="description_row">
            <p class="row_name">Материал стен</p>
            <p class="row_value">{{ project.wall_material }}</p>
        </div>
        <div class="description_row" style="background-color: rgba(0, 0, 0, 0.1);">
            <p class="row_name">Общая прощадь</p>
            <p class="row_value">{{ project.total_area }} кв.м.</p>
        </div>
        <div class="description_row">
            <p class="row_name">Жилая прощадь</p>
            <p class="row_value">{{ project.living_area }} кв.м.</p>
        </div>
        <div class="description_row" style="background-color: rgba(0, 0, 0, 0.1);">
            <p class="row_name">Адрес</p>
            <p class="row_value">{{ project.address }}</p>
        </div>
    </div>
</div>
{% if project.review != '-' %}
    <div class="review">
        <p class="review_title">Отзыв заказчика</p>
        <div class="review_box">
            <p class="reviewer_name">{{ project.reviewer_name }}</p>
            <p class="review_text">{{ project.review }}</p>
        </div>
    </div>
{% endif %}

<div class="price_block" id="block1">
    <div class="price">
        <div class="price_info">
            <p class="price_title">Стоимость строительства</p>
            <p class="price_text">Конечная стоимость строительства зависит от множества факторов</p>
            <p class="price_item">• План и инженерные решения предстоящего строительства;</p>
            <p class="price_item">• Особенности геологического состава грунтов на участке строительства;</p>
            <p class="price_item">• Список строительных материалов (с указанием марок прочности и производителя);</p>
            <p class="price_item">• Сложность строительно-монтажных процессов (включая укладку стен, создание фундамента и крыши, и другие работы).</p>
            <div class="price_buttons">
                <button type="button" class="price_button1" id="calculator_open3">Рассчитать стоимость дома</button>
                <a href="#consultation" type="button" class="price_button2">Получить консультацию</a>
            </div>
        </div>
        <img src="{% static 'main/png/finished_projects/price_foto.png' %}" class="price_foto" draggable="false">
    </div>
</div>


<div class="causes_block" id="consultation">
    <h1 class="block_title">Причины выбрать нас</h1>
    <div class="causes">
        <div class="cause">
            <img src="{% static 'main/png/home/advantage1.png' %}" class="cause_foto" draggable="false">
            <p class="cause_text">Богатый опыт</p>
        </div>
        <div class="cause">
            <img src="{% static 'main/png/home/advantage2.png' %}" class="cause_foto" draggable="false">
            <p class="cause_text">Индивидуальный подход</p>
        </div>
        <div class="cause">
            <img src="{% static 'main/png/home/advantage3.png' %}" class="cause_foto" draggable="false">
            <p class="cause_text">Современные стандарты</p>
        </div>
        <div class="cause">
            <img src="{% static 'main/png/home/advantage4.png' %}" class="cause_foto" draggable="false">
            <p class="cause_text">Активное развитие</p>
        </div>
        <div class="cause">
            <img src="{% static 'main/png/home/advantage5.png' %}" class="cause_foto" draggable="false">
            <p class="cause_text">Гарантия качества</p>
        </div>
        <div class="cause">
            <img src="{% static 'main/png/home/advantage6.png' %}" class="cause_foto" draggable="false">
            <p class="cause_text">Помощь и содействие</p>
        </div>

    </div>
</div>


<div class="special_block">
    <p class="special_block_title">Получить консультацию специалиста</p>
    <div class="special_block_inputs">
        <input id='name' type="text" name="name" placeholder="Ваше имя" class="special_block_input">
        <input id="phone" type="tel" name="phone" placeholder="Ваш телефон" class="special_block_input">
    </div>
    <div class="special_block_buttons">
        <div class="special_buttons">
            <div class="special_button1" id='send_consultation_button' onclick="send_consultation()">Отправить заявку</div>
            <div class="special_button2">Позвонить нам</div>
        </div>
        <label class="container">Согласен на обработку <a href="#soglasie1" id="soglasie_open8" class="container_a">персональных данных</a> в соответствии с <a href="{% url 'agreement' %}" class="container_a">пользовательским соглашением</a>
            <input type="checkbox" id="agreement" name="agreement" checked>
            <span class="checkmark"></span>
        </label>
    </div>
</div>
{% endblock %}