{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="{% static 'main/png/header/logo1.png' %}" type="image/png">
    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Heebo:wght@500;800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lexend:wght@400;800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Josefin Slab:wght@700&display=swap"
    />
    <link href="https://fonts.cdnfonts.com/css/gilroy-bold" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/header.css' %}">
    {% block link %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="{% static 'main/js/slider.js' %}" defer></script>
    <script src="{% static 'main/js/header.js' %}" defer></script>
    {% block script %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<web_header>
    <div class="block1">
        <a class="logo" href="/" id="logo">
            <img src="{% static 'main/png/header/logo.png' %}" class="item_img" draggable="false">
        </a>
        <div class="navigation">
            <a class="nav" href="{% url 'about' %}">О НАС</a>
            <a class="nav" href="{% url 'projects' %}">ПРОЕКТЫ</a>
            <a class="nav" href="{% url 'services' %}">УСЛУГИ</a>
            <a class="nav" href="/">ЦЕНЫ</a>
            <a class="nav" href="{% url 'portfolio' %}">ПОРТФОЛИО</a>
            <a class="nav" href="{% url 'reviews' %}">ОТЗЫВЫ</a>
            <a class="nav" href="{% url 'contacts' %}">КОНТАКТЫ</a>
        </div>
    </div>
    <div class="block2">
        <div class="action_buttons">
            <div class="compare_block">
                <a class="compare" href="{% url 'compare' %}">
                    <img src="{% static 'main/png/header/compare.png' %}" class="compare_icon" draggable="false">
                </a>
                {% if True %}
                <div class="compare_count_block">
                    <p class="compare_count">{{ 2 }}</p>
                </div>
                {% endif %}
            </div>
            <div class="like_block">
                <a class="like" href="{% url 'favorites' %}">
                    <img src="{% static 'main/png/header/like.png' %}" class="like_icon" draggable="false">
                </a>
                <div class="like_count_block" id='like_count_block' style="display: none;">
                    <p class="like_count" id="like_count"></p>
                </div>
            </div>

        </div>
        <div class="info_container">
            <div class="work_time">Пн–Пт 9:00-19:00 / Сб-Вс по договоренности</div>
            <a class="header_number" href="/">+7(900) 555-40-60</a>
        </div>
    </div>
</web_header>

<mobile_header>
    <a class="mobile_block1" href="/">
        <img src="{% static 'main/png/header/logo1.png' %}" class="mobile_item_img1" draggable="false">
        <img src="{% static 'main/png/header/logo2.png' %}" class="mobile_item_img2" draggable="false">
    </a>
    <div class="mobile_block2">
        <div class="mobile_action_buttons">
            <div class="mobile_compare_block">
                <a class="mobile_compare" href="{% url 'compare' %}">
                    <img src="{% static 'main/png/header/compare.png' %}" class="mobile_compare_icon" draggable="false">
                </a>
                {% if True %}
                <div class="mobile_compare_count_block">
                    <p class="mobile_compare_count">{{ 2 }}</p>
                </div>
                {% endif %}
            </div>
            <div class="mobile_like_block">
                <a class="mobile_like" href="{% url 'favorites' %}">
                    <img src="{% static 'main/png/header/like.png' %}" class="mobile_like_icon" draggable="false">
                </a>
                {% if True %}
                <div class="mobile_like_count_block">
                    <p class="mobile_like_count">{{ 4 }}</p>
                </div>
                {% endif %}
            </div>
        </div>
        <div id="menu" class="mobile_menu">
            <img src="{% static 'main/png/header/menu.png' %}" class="mobile_menu_icon" draggable="false">
        </div>
    </div>
    <div class="mobile_menu_block" id="menu_block">
        <div class="mobile_navigation_list">
            <div class="mobile_menu_header">
                <a href="/" class="mobile_phone_number">
                    <img src="{% static 'main/png/header/phone.png' %}" class="mobile_phone_icon" draggable="false">
                    +7(900) 555-40-60
                </a>

                <div id="exit" class="mobile_menu2 not-visible">
                    <img src="{% static 'main/png/header/exit.png' %}" class="mobile_exit_icon" draggable="false">
                </div>
            </div>
            <line></line>
            <a class="mobile_nav" href="{% url 'home' %}">Главная</a>
            <line></line>
            <a class="mobile_nav" href="{% url 'about' %}">О нас</a>
            <line></line>
            <a class="mobile_nav" href="{% url 'projects' %}">Проекты</a>
            <line></line>
            <a class="mobile_nav" href="{% url 'services' %}">Услуги</a>
            <line></line>
            <a class="mobile_nav" href="/">Цены</a>
            <line></line>
            <a class="mobile_nav" href="{% url 'portfolio' %}">Портфолио</a>
            <line></line>
            <a class="mobile_nav" href="{% url 'reviews' %}">Отзывы</a>
            <line></line>
            <a class="mobile_nav" href="{% url 'contacts' %}">Контакты</a>
            <line></line>
        </div>
        <div class="mobile_phone_block" id="openFormBtn4">
            Заказать звонок
        </div>
    </div>
</mobile_header>


<div class="content" id="content">
    <div class="title_block">
        <div class="site_navigation">
            {% block navigation %}
            {% endblock %}
        </div>
        <div class="block_info" id="block_info">
            <h1 class="title_text">
                {% block title_text %}
                {% endblock %}
            </h1>
            <p class="extra_text">
                {% block extra_text %}
                {% endblock %}
            </p>
        </div>
        <div class="block_buttons" id="block_buttons">
            <div class="button1" id="openFormBtn1">
                Оставить заявку
                <img src="{% static 'main/png/home/phone.png' %}" class="button1_icon" draggable="false">
            </div>
            <div class="button2" id="calculator_open1">Калькулятор стоимости дома</div>
            <a href="{% url 'projects' %}" class="button3">Каталог всех проектов домов</a>
        </div>
    </div>

    <div class="mobile_title_block">
        <div class="mobile_site_navigation">
            {% block mobile_navigation %}
            {% endblock %}
        </div>
        <div class="mobile_block_buttons" id="mobile_block_buttons">
            <div class="mobile_button1" id="openFormBtn2">
                Оставить заявку
                <img src="{% static 'main/png/home/phone.png' %}" class="mobile_button1_icon" draggable="false">
            </div>
        </div>
        <div class="mobile_block_info" id="mobile_block_info">
            <h1 class="mobile_title_text">
                {% block mobile_title_text %}
                {% endblock %}
            </h1>
            <p class="mobile_extra_text">
                {% block mobile_extra_text %}
                {% endblock %}
            </p>
            <div class="mobile_button2" id="calculator_open2">Калькулятор стоимости дома</div>
            <a href="{% url 'projects' %}" class="mobile_button3">Каталог всех проектов домов</a>
        </div>
    </div>
    {% block content %}

    {% endblock %}
</div>


<div id="popupForm" class="popup">
    <div class="popup-content">
        <span class="close-btn" id="closeFormBtn">&times;</span>
        <form method="POST" autocomplete="off">
            {% csrf_token %}
            <h2 class="popup_title">Оставить заявку</h2>
            <p class="popup_text">Перезвоним как можно скорее</p>
            <input type="text" id="popup_name" name="popup_name" placeholder="Ваше Имя" class="popup_input" required>
            <input type="email" id="popup_email" name="popup_email" placeholder="Email" class="popup_input" required>
            <input type="tel" id="popup_phone" name="popup_phone" placeholder="Телефон" class="popup_input" required>
            <textarea id="popup_message" name="popup_message" placeholder="Сообщение" class="popup_input popup_message" required></textarea>
            <button class="popup_button" type="button" id='send_feedback_button' onclick="send_feedback()">Отправить</button>
            <label class="popup_container">Согласен на обработку <a href="#soglasie1" class="popup_container_a" id="soglasie_open1">персональных данных</a> в соответствии с <a href="{% url 'agreement' %}" class="popup_container_a">пользовательским соглашением</a>
                <input type="checkbox"  id="popup_agreement" name="popup_agreement" checked required>
                <span class="popup_checkmark"></span>
            </label>
        </form>
    </div>
</div>



<div class="soglasie1" id="soglasie1">
    <div class="soglasie_content">
        <span class="close-btn" id="soglasie_close">&times;</span>
        <h2 class="soglasie_title">Согласие на обработку персональных данных посетителей сайта</h2>
        <p class="soglasie_text">Настоящим, свободно, своей волей и в своем интересе выражаю свое согласие ООО «S.K. TOWER» по адресу: Российская Федерация, г. Ярославль, ... на автоматизированную обработку моих персональных данных в соответствии со следующим перечнем:
— IP-адрес;
— MAC-адрес;
— Информация из cookies;
— Геолокация пользователя;
— Язык браузера;
— Внешний источник перехода на сайт;
— Устройство пользователя, включая модель и производителя устройства;
— Операционная система;
— Тип и версия браузера;
— Размер экрана пользователя;
— Фамилия, имя;
— E-mail адрес;
— Телефон;
— Интернет-провайдер пользователя;
— Адрес доставки.

Для целей оптимизации Оператором своих web-ресурсов, с учетом моих индивидуальных особенностей и предпочтений для продвижения товаров, работ и услуг на рынке.

Оператор вправе осуществлять обработку моих персональных данных следующими способами: сбор, систематизация, накопление, хранение, обновление, изменение, использование, передача третьим лицам
(предоставление, доступ).

Указанные персональные данные могут обрабатываться следующими интернет-сервисами: Яндекс.Метрика, VK pixel, Tilda.

Настоящее согласие вступает в силу с момента моего перехода на сайт оператора и на срок выполнения запрашиваемой услуги

Согласие на обработку персональных данных может быть отозвано мною путем направления Оператору письменного уведомления об этом не менее чем за один месяц до даты фактического прекращения обработки моих персональных данных Оператором.</p>
    </div>
</div>



<div class="calculator" id="calculator">
    <div class="calculator_content">
        <span class="close-btn" id="calculator_close">&times;</span>
        <h2 class="calculator_title">РАССЧИТАТЬ СТОИМОСТЬ ДОМА</h2>
        <div class="step select" id="step1">
            <p class="calculator_text">Сколько этажей вы хотите в доме?</p>
            <div class="step_container">
                <div class="step1_item">
                    <input tabindex="1" name="step_1" type="radio" id="step_1_1" value="1 этаж" class="radio-input" onclick="next_step(2)">
                    <label for="step_1_1" class="radio-label">
                        <div class="image-placeholder" style="background-image: url(../../static/main/png/header/calculator_step_1_1.jpg);"></div>
                        <span>1 этаж</span>
                    </label>
                </div>
                <div class="step1_item">
                    <input tabindex="1" name="step_1" type="radio" id="step_1_2" value="2 этажа" class="radio-input" onclick="next_step(2)">
                    <label for="step_1_2" class="radio-label">
                        <div class="image-placeholder" style="background-image: url(../../static/main/png/header/calculator_step_1_2.jpg);"></div>
                        <span>2 этажа</span>
                    </label>
                </div>
                <div class="step1_item">
                    <input tabindex="1" name="step_1" type="radio" id="step_1_3" value="3 этажа" class="radio-input" onclick="next_step(2)">
                    <label for="step_1_3" class="radio-label">
                        <div class="image-placeholder" style="background-image: url(../../static/main/png/header/calculator_step_1_3.jpg);"></div>
                        <span>3 этажа</span>
                    </label>
                </div>
                <div class="step1_item">
                    <input tabindex="1" name="step_1" type="radio" id="step_1_4" value="Нужна помощь" class="radio-input" onclick="next_step(2)">
                    <label for="step_1_4" class="radio-label">
                        <div class="image-placeholder" style="background-image: url(../../static/main/png/header/calculator_step_1_4.jpg);"></div>
                        <span>Нужна помощь</span>
                    </label>
                </div>
            </div>
            <div class="step_error" id="step_error1"></div>
            <div class="step_buttons">
                <div class="old_step" style="opacity: 0.4; cursor: default">
                    НАЗАД
                </div>
                <div class="step_counter">
                    Шаг: 1 из 8
                </div>
                <div class="next_step" onclick="next_step(2, true)">
                    ДАЛЕЕ
                </div>
            </div>
        </div>

        <div class="step" id="step2">
            <p class="calculator_text">Какие размеры дома вы бы хотели?</p>
            <div class="step_container">
                <div class="step1_item">
                    <input tabindex="1" name="step_2" type="radio" id="step_2_1" value="До 100 кв.м." class="radio-input" onclick="next_step(3)">
                    <label for="step_2_1" class="radio-label">
                        <div class="image-placeholder" style="height: 130px;">До 100 кв.м.</div>
                        <span>Маленький</span>
                    </label>
                </div>
                <div class="step1_item">
                    <input tabindex="1" name="step_2" type="radio" id="step_2_2" value="100 - 150 кв.м." class="radio-input" onclick="next_step(3)">
                    <label for="step_2_2" class="radio-label">
                        <div class="image-placeholder" style="height: 130px;">100 - 150 кв.м.</div>
                        <span>Средний</span>
                    </label>
                </div>
                <div class="step1_item">
                    <input tabindex="1" name="step_2" type="radio" id="step_2_3" value="150 - 200 кв.м." class="radio-input" onclick="next_step(3)">
                    <label for="step_2_3" class="radio-label">
                        <div class="image-placeholder" style="height: 130px;">150 - 200 кв.м.</div>
                        <span>Большой</span>
                    </label>
                </div>
                <div class="step1_item">
                    <input tabindex="1" name="step_2" type="radio" id="step_2_4" value="Более 200 кв.м." class="radio-input" onclick="next_step(3)">
                    <label for="step_2_4" class="radio-label">
                        <div class="image-placeholder" style="height: 130px;">Более 200 кв.м.</div>
                        <span>Очень большой</span>
                    </label>
                </div>
            </div>
            <div class="step_error" id="step_error2"></div>
            <div class="step_buttons">
                <div class="old_step" onclick="old_step(1)">
                    НАЗАД
                </div>
                <div class="step_counter">
                    Шаг: 2 из 8
                </div>
                <div class="next_step" onclick="next_step(3, true)">
                    ДАЛЕЕ
                </div>
            </div>
        </div>

        <div class="step" id="step3">
            <p class="calculator_text">Выберете фундамент, который вы бы хотели для своего будущего дома</p>
            <div class="step_container">
                <div class="step1_item">
                    <input tabindex="1" name="step_3" type="radio" id="step_3_1" value="Ленточный с полами по грунту" class="radio-input" onclick="next_step(4)">
                    <label for="step_3_1" class="radio-label">
                        <div class="image-placeholder" style="background-image: url(../../static/main/png/header/calculator_step_3_1.jpg);"></div>
                        <span>Ленточный с полами по грунту</span>
                    </label>
                </div>
                <div class="step1_item">
                    <input tabindex="1" name="step_3" type="radio" id="step_3_2" value="Мелкозаглубленная утепленаня фундаментаная лента" class="radio-input" onclick="next_step(4)">
                    <label for="step_3_2" class="radio-label">
                        <div class="image-placeholder" style="background-image: url(../../static/main/png/header/calculator_step_3_2.jpg);"></div>
                        <span>Мелкозаглубленная утепленаня фундаментаная лента</span>
                    </label>
                </div>
                <div class="step1_item">
                    <input tabindex="1" name="step_3" type="radio" id="step_3_3" value="Плитный" class="radio-input" onclick="next_step(4)">
                    <label for="step_3_3" class="radio-label">
                        <div class="image-placeholder" style="background-image: url(../../static/main/png/header/calculator_step_3_3.jpg);"></div>
                        <span>Плитный</span>
                    </label>
                </div>
                <div class="step1_item">
                    <input tabindex="1" name="step_3" type="radio" id="step_3_4" value="Свайно-ростверковый с плитой" class="radio-input" onclick="next_step(4)">
                    <label for="step_3_4" class="radio-label">
                        <div class="image-placeholder" style="background-image: url(../../static/main/png/header/calculator_step_3_4.jpg);"></div>
                        <span>Свайно-ростверковый с плитой</span>
                    </label>
                </div>
                <div class="step1_item">
                    <input tabindex="1" name="step_3" type="radio" id="step_3_5" value="Нужна помощь" class="radio-input" onclick="next_step(4)">
                    <label for="step_3_5" class="radio-label">
                        <div class="image-placeholder" style="background-image: url(../../static/main/png/header/calculator_step_1_4.jpg);"></div>
                        <span>Нужна помощь</span>
                    </label>
                </div>
            </div>
            <div class="step_error" id="step_error3"></div>
            <div class="step_buttons">
                <div class="old_step" onclick="old_step(2)">
                    НАЗАД
                </div>
                <div class="step_counter">
                    Шаг: 3 из 8
                </div>
                <div class="next_step" onclick="next_step(4, true)">
                    ДАЛЕЕ
                </div>
            </div>
        </div>

        <div class="step" id="step4">
            <p class="calculator_text">Какой дом вам нужен?</p>
            <div class="step_container">
                <div class="step1_item">
                    <input tabindex="1" name="step_4" type="radio" id="step_4_1" value="Для постоянного проживания" class="radio-input" onclick="next_step(5)">
                    <label for="step_4_1" class="radio-label">
                        <div class="image-placeholder" style="background-image: url(../../static/main/png/header/calculator_step_4_1.jpg);"></div>
                        <span>Для постоянного проживания</span>
                    </label>
                </div>
                <div class="step1_item">
                    <input tabindex="1" name="step_4" type="radio" id="step_4_2" value="Дачныый/загородный дом" class="radio-input" onclick="next_step(5)">
                    <label for="step_4_2" class="radio-label">
                        <div class="image-placeholder" style="background-image: url(../../static/main/png/header/calculator_step_4_2.jpg);"></div>
                        <span>Дачныый/загородный дом</span>
                    </label>
                </div>
                <div class="step1_item">
                    <input tabindex="1" name="step_4" type="radio" id="step_4_3" value="Гостевой дом" class="radio-input" onclick="next_step(5)">
                    <label for="step_4_3" class="radio-label">
                        <div class="image-placeholder" style="background-image: url(../../static/main/png/header/calculator_step_4_3.jpg);"></div>
                        <span>Гостевой дом</span>
                    </label>
                </div>
                <div class="step1_item">
                    <input tabindex="1" name="step_4" type="radio" id="step_4_4" value="Нужна помощь" class="radio-input" onclick="next_step(5)">
                    <label for="step_4_4" class="radio-label">
                        <div class="image-placeholder" style="background-image: url(../../static/main/png/header/calculator_step_1_4.jpg);"></div>
                        <span>Нужна помощь</span>
                    </label>
                </div>
            </div>
            <div class="step_error" id="step_error4"></div>
            <div class="step_buttons">
                <div class="old_step" onclick="old_step(3)">
                    НАЗАД
                </div>
                <div class="step_counter">
                    Шаг: 4 из 8
                </div>
                <div class="next_step" onclick="next_step(5, true)">
                    ДАЛЕЕ
                </div>
            </div>
        </div>

        <div class="step" id="step5">
            <p class="calculator_text">Выберете тип стен, который вы бы хотели для своего будущего дома</p>
            <div class="step_container">
                <div class="step1_item">
                    <input tabindex="1" name="step_5" type="radio" id="step_5_1" value="Газобетон" class="radio-input" onclick="next_step(6)">
                    <label for="step_5_1" class="radio-label">
                        <div class="image-placeholder" style="background-image: url(../../static/main/png/header/calculator_step_5_1.jpg);"></div>
                        <span>Газобетон</span>
                    </label>
                </div>
                <div class="step1_item">
                    <input tabindex="1" name="step_5" type="radio" id="step_5_2" value="Теплая керамика" class="radio-input" onclick="next_step(6)">
                    <label for="step_5_2" class="radio-label">
                        <div class="image-placeholder" style="background-image: url(../../static/main/png/header/calculator_step_5_2.jpg);"></div>
                        <span>Теплая керамика</span>
                    </label>
                </div>
            </div>
            <div class="step_error" id="step_error5"></div>
            <div class="step_buttons">
                <div class="old_step" onclick="old_step(4)">
                    НАЗАД
                </div>
                <div class="step_counter">
                    Шаг: 5 из 8
                </div>
                <div class="next_step" onclick="next_step(6, true)">
                    ДАЛЕЕ
                </div>
            </div>
        </div>

        <div class="step" id="step6">
            <p class="calculator_text">Выберете покрытие кровли, которое вы бы хотели для своего будущего дома</p>
            <div class="step_container">
                <div class="step1_item">
                    <input tabindex="1" name="step_6" type="radio" id="step_6_1" value="Металлочерепица" class="radio-input" onclick="next_step(7)">
                    <label for="step_6_1" class="radio-label">
                        <div class="image-placeholder" style="background-image: url(../../static/main/png/header/calculator_step_6_1.jpg);"></div>
                        <span>Металлочерепица</span>
                    </label>
                </div>
                <div class="step1_item">
                    <input tabindex="1" name="step_6" type="radio" id="step_6_2" value="Кликфальц" class="radio-input" onclick="next_step(7)">
                    <label for="step_6_2" class="radio-label">
                        <div class="image-placeholder" style="background-image: url(../../static/main/png/header/calculator_step_6_2.jpg);"></div>
                        <span>Кликфальц</span>
                    </label>
                </div>
                <div class="step1_item">
                    <input tabindex="1" name="step_6" type="radio" id="step_6_3" value="Битумная черепица" class="radio-input" onclick="next_step(7)">
                    <label for="step_6_3" class="radio-label">
                        <div class="image-placeholder" style="background-image: url(../../static/main/png/header/calculator_step_6_3.jpg);"></div>
                        <span>Битумная черепица</span>
                    </label>
                </div>
                <div class="step1_item">
                    <input tabindex="1" name="step_6" type="radio" id="step_6_4" value="Цементно-песчаная черепица" class="radio-input" onclick="next_step(7)">
                    <label for="step_6_4" class="radio-label">
                        <div class="image-placeholder" style="background-image: url(../../static/main/png/header/calculator_step_6_4.jpg);"></div>
                        <span>Цементно-песчаная черепица</span>
                    </label>
                </div>
                <div class="step1_item">
                    <input tabindex="1" name="step_6" type="radio" id="step_6_5" value="Нужна помощь" class="radio-input" onclick="next_step(7)">
                    <label for="step_6_5" class="radio-label">
                        <div class="image-placeholder" style="background-image: url(../../static/main/png/header/calculator_step_1_4.jpg);"></div>
                        <span>Нужна помощь</span>
                    </label>
                </div>
            </div>
            <div class="step_error" id="step_error6"></div>
            <div class="step_buttons">
                <div class="old_step" onclick="old_step(5)">
                    НАЗАД
                </div>
                <div class="step_counter">
                    Шаг: 6 из 8
                </div>
                <div class="next_step" onclick="next_step(7, true)">
                    ДАЛЕЕ
                </div>
            </div>
        </div>

        <div class="step" id="step7">
            <p class="calculator_text">Выберете отмостку, которую вы бы хотели для своего будущего дома</p>
            <div class="step_container">
                <div class="step1_item">
                    <input tabindex="1" name="step_7" type="radio" id="step_7_1" value="Утепленная бетонная отмостка с дренажем и ливневой системой" class="radio-input" onclick="next_step(8)">
                    <label for="step_7_1" class="radio-label">
                        <div class="image-placeholder" style="background-image: url(../../static/main/png/header/calculator_step_7_1.jpg);"></div>
                        <span>Утепленная бетонная отмостка с дренажем и ливневой системой</span>
                    </label>
                </div>
                <div class="step1_item">
                    <input tabindex="1" name="step_7" type="radio" id="step_7_2" value="Утепленная мягкая отмостка с дренажем и ливневой системой" class="radio-input" onclick="next_step(8)">
                    <label for="step_7_2" class="radio-label">
                        <div class="image-placeholder" style="background-image: url(../../static/main/png/header/calculator_step_7_2.jpg);"></div>
                        <span>Утепленная мягкая отмостка с дренажем и ливневой системой</span>
                    </label>
                </div>
                <div class="step1_item">
                    <input tabindex="1" name="step_7" type="radio" id="step_7_3" value="Нужна помощь" class="radio-input" onclick="next_step(8)">
                    <label for="step_7_3" class="radio-label">
                        <div class="image-placeholder" style="background-image: url(../../static/main/png/header/calculator_step_1_4.jpg);"></div>
                        <span>Нужна помощь</span>
                    </label>
                </div>
            </div>
            <div class="step_error" id="step_error7"></div>
            <div class="step_buttons">
                <div class="old_step" onclick="old_step(6)">
                    НАЗАД
                </div>
                <div class="step_counter">
                    Шаг: 7 из 8
                </div>
                <div class="next_step" onclick="next_step(8, true)">
                    ДАЛЕЕ
                </div>
            </div>
        </div>

        <div class="step" id="step8">
            <p class="calculator_text">Выберете фасад, который вы бы хотели для своего будущего дома</p>
            <div class="step_container">
                <div class="step1_item">
                    <input tabindex="1" name="step_8" type="radio" id="step_8_1" value="ISKULT DECOR декоративная плитка из газобетона под покраску" class="radio-input" onclick="next_step(9)">
                    <label for="step_8_1" class="radio-label">
                        <div class="image-placeholder" style="background-image: url(../../static/main/png/header/calculator_step_8_1.jpg);"></div>
                        <span>ISKULT DECOR декоративная плитка из газобетона под покраску</span>
                    </label>
                </div>
                <div class="step1_item">
                    <input tabindex="1" name="step_8" type="radio" id="step_8_2" value="Штукатурный фасад готовыми смесями с фактурой 'Короед' или 'Камешковая'" class="radio-input" onclick="next_step(9)">
                    <label for="step_8_2" class="radio-label">
                        <div class="image-placeholder" style="background-image: url(../../static/main/png/header/calculator_step_8_2.jpg);"></div>
                        <span>Штукатурный фасад готовыми смесями</span>
                    </label>
                </div>
                <div class="step1_item">
                    <input tabindex="1" name="step_8" type="radio" id="step_8_3" value="Планкен из лиственницы скошенный или прямой покрытый маслом" class="radio-input" onclick="next_step(9)">
                    <label for="step_8_3" class="radio-label">
                        <div class="image-placeholder" style="background-image: url(../../static/main/png/header/calculator_step_8_3.jpg);"></div>
                        <span>Планкен из лиственницы скошенный или прямой покрытый маслом</span>
                    </label>
                </div>
                <div class="step1_item">
                    <input tabindex="1" name="step_8" type="radio" id="step_8_4" value="Фиброцементный сайдинг с фактурой древесины, камня, мозаики и др." class="radio-input" onclick="next_step(9)">
                    <label for="step_8_4" class="radio-label">
                        <div class="image-placeholder" style="background-image: url(../../static/main/png/header/calculator_step_8_4.jpg);"></div>
                        <span>Фиброцементный сайдинг с фактурой древесины, камня, мозаики и др.</span>
                    </label>
                </div>
                <div class="step1_item">
                    <input tabindex="1" name="step_8" type="radio" id="step_8_5" value="Нужна помощь" class="radio-input" onclick="next_step(9)">
                    <label for="step_8_5" class="radio-label">
                        <div class="image-placeholder" style="background-image: url(../../static/main/png/header/calculator_step_1_4.jpg);"></div>
                        <span>Нужна помощь</span>
                    </label>
                </div>
            </div>
            <div class="step_error" id="step_error8"></div>
            <div class="step_buttons">
                <div class="old_step" onclick="old_step(7)">
                    НАЗАД
                </div>
                <div class="step_counter">
                    Шаг: 8 из 8
                </div>
                <div class="next_step" onclick="next_step(9, true)">
                    ДАЛЕЕ
                </div>
            </div>
        </div>

        <div class="step" id="step9" style="flex-direction: column;align-items: center;">
            <p class="calculator_text">Ваши ответы получены и мы уже приступили к расчету!</p>
            <p class="calculator_text" style="color: black;">Укажите, как вам удобнее получить результат:</p>
            <div class="options">
                <div class="option selected" data-contact="WhatsApp">
                    <img src="https://img.icons8.com/color/48/000000/whatsapp--v1.png" alt="WhatsApp">
                    <p>WhatsApp</p>
                </div>
                <div class="option" data-contact="Viber">
                    <img src="https://img.icons8.com/color/48/000000/viber.png" alt="Viber">
                    <p>Viber</p>
                </div>
                <div class="option" data-contact="Telegram">
                    <img src="https://img.icons8.com/color/48/000000/telegram-app.png" alt="Telegram">
                    <p>Telegram</p>
                </div>
                <div class="option" data-contact="Телефон">
                    <img src="https://img.icons8.com/color/48/000000/phone.png" alt="Телефон">
                    <p>Жду звонка</p>
                </div>
            </div>
            <div class="input-container">
                <input class="calculator_input" type="text" id="contact-input" placeholder="Ваш телефон в WhatsApp">
            </div>
            <button class="calculator_button" id="calculator_button" onclick="send_calculator()">Получить результат</button>
            <label class="calculator_container">Согласен на обработку <a href="#soglasie1" class="calculator_container_a" id="soglasie_open2">персональных данных</a> в соответствии с <a href="{% url 'agreement' %}" class="calculator_container_a">пользовательским соглашением</a>
                <input type="checkbox"  id="calculator_agreement" name="calculator_agreement" checked required>
                <span class="calculator_checkmark"></span>
            </label>
        </div>
    </div>
</div>






<div class="footer">
    <div class="footer_body">
        <div class="footer_logo_block">
            <img src="{% static 'main/png/header/footer_logo.png' %}" class="footer_logo" draggable="false">
        </div>
        <div class="footer_content">
            <div class="footer_info">
                <div class="footer_navigation">
                    <p class="footer_info_title">Навигация по сайту</p>
                    <div class="footer_navigation_links">
                        <div  class="footer_navigation_links_column">
                            <a href="{% url 'home' %}" class="footer_link">Главная</a>
                            <a href="{% url 'about' %}" class="footer_link">О нас</a>
                            <a href="{% url 'projects' %}" class="footer_link">Проекты</a>
                            <a href="{% url 'services' %}" class="footer_link">Услуги</a>
                        </div>
                        <div  class="footer_navigation_links_column">
                            <a href="/" class="footer_link">Цены</a>
                            <a href="{% url 'portfolio' %}" class="footer_link">Портфолио</a>
                            <a href="{% url 'reviews' %}" class="footer_link">Отзывы</a>
                            <a href="{% url 'contacts' %}" class="footer_link">Контакты</a>
                        </div>
                    </div>
                </div>
                <div class="footer_address">
                    <p class="footer_info_title">Наш адрес</p>
                    <p class="footer_address_text">г. Ярославль адрес адрес адрес адрес адрес адрес адрес</p>
                </div>
            </div>
            <div class="footer_contact">
                <p class="footer_work_date">Пн–Пт 9:00-18:00 / Сб-Вс по записи</p>
                <a href="/" class="footer_number">+7 (900) 555-40-60</a>
                <div class="footer_order_call" id="openFormBtn3">Заказать звонок</div>
            </div>
        </div>
    </div>
    <div class="footer_data">
        <a href="{% url 'agreement' %}" class="footer_privacy_policy">ПОЛИТИКА КОНФЕДЕНЦИАЛЬНОСТИ</a>
        <p class="footer_years_work">© 20?? – 2024 ООО «S.K. TOWER»</p>
        <p class="footer_agreement" id="soglasie_open3">СОГЛАСИЕ НА ОБРАБОТКУ ПЕРСОНАЛЬНЫХ ДАННЫХ ПОСЕТИТЕЛЕЙ САЙТА</p>
    </div>
</div>

</body>
</html>