{% extends 'main/header.html' %}
{% load static %}


{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/home.css' %}">
{% endblock %}


{% block script %}
<script src="{% static 'main/js/home.js' %}" defer></script>
{% endblock %}


{% block title %}
Главная
{% endblock %}


{% block title_text %}
От идеи до ключей: Строительство домов и коттеджей
{% endblock %}

{% block extra_text %}
Индивидуальный подход к каждому дому: С нами ваша мечта становится реальностью без лишних забот.
{% endblock %}


{% block mobile_title_text %}
От идеи до ключей: Строительство домов и коттеджей
{% endblock %}

{% block mobile_extra_text %}
Индивидуальный подход к каждому дому: С нами ваша мечта становится реальностью без лишних забот.
{% endblock %}


{% block content %}
<div class="advantages_block" id="block1">
    <h1 class="block_title">Наши преимущества</h1>
    <div class="advantages">
        <div class="advantage">
            <div class="advantage_block1">
                <img src="{% static 'main/png/home/advantage1.png' %}" class="advantage_icon" draggable="false">
                Богатый опыт
            </div>
            <div class="advantage_block2">
                Многолетний опыт в строительстве каменных и деревянных домов, который обеспечивает
                непревзойденное качество и надежность в каждом проекте.
            </div>
        </div>

        <div class="advantage">
            <div class="advantage_block1">
                <img src="{% static 'main/png/home/advantage2.png' %}" class="advantage_icon" draggable="false">
                Индивидуальный подход
            </div>
            <div class="advantage_block2">
                Уникальные решения, разработанные в соответствии с вашими потребностями и желаниями.
            </div>
        </div>

        <div class="advantage">
            <div class="advantage_block1">
                <img src="{% static 'main/png/home/advantage3.png' %}" class="advantage_icon" draggable="false">
                Современные стандарты
            </div>
            <div class="advantage_block2">
                Применение передовых технологий и стандартов, обеспечивающих современность и
                надежность в каждом аспекте работы.
            </div>
        </div>

        <div class="advantage">
            <div class="advantage_block1">
                <img src="{% static 'main/png/home/advantage4.png' %}" class="advantage_icon" draggable="false">
                Активное развитие
            </div>
            <div class="advantage_block2">
                Непрерывное стремление к улучшению и инновациям, обеспечивающие ваш успех и доверие.
            </div>
        </div>

        <div class="advantage">
            <div class="advantage_block1">
                <img src="{% static 'main/png/home/advantage5.png' %}" class="advantage_icon" draggable="false">
                Гарантия качества
            </div>
            <div class="advantage_block2">
                Надежные гарантии на работы и материалы, обеспечивающие ваш спокойный сон.
            </div>
        </div>

        <div class="advantage">
            <div class="advantage_block1">
                <img src="{% static 'main/png/home/advantage6.png' %}" class="advantage_icon" draggable="false">
                Помощь и содействие
            </div>
            <div class="advantage_block2">
                Долгосрочные отношения с клиентами и полная поддержка на всех этапах вашего проекта.
            </div>
        </div>
    </div>
</div>

<div class="steps_block" id="block2">
    <h1 class="block_title">Этапы работы</h1>
    <div class="steps_block_content">
        <img src="{% static 'main/png/home/steps_background1.png' %}" class="steps_background" draggable="false">
        <img src="{% static 'main/png/home/steps_main.png' %}" class="steps_main_photo" draggable="false">
        <img src="{% static 'main/png/home/mobile_steps_main.png' %}" class="mobile_steps_main_photo" draggable="false">
        <img src="{% static 'main/png/home/steps_background2.png' %}" class="steps_background" draggable="false">
    </div>
</div>

<div class="idea_block">
    <div class="idea_block_content">
        <h1 class="idea_content_title">Мы превратим вашу идею о доме в живую реальность</h1>
        <p class="idea_content_text">Ознакомьтесь с нашими завершенными проектами.</p>
        <a href="{% url 'portfolio' %}" class="we_works_button">Наши работы</a>
    </div>
    <div class="idea_block_photo">
        <img src="{% static 'main/png/home/idea_photo.png' %}" class="idea_photo" draggable="false">
    </div>
</div>

<div class="projects_block" id="block3">
    <h1 class="block_title">Проекты домов</h1>
    <div class="projects">
        <a class="project" href="/">
            <div class="project_block1" style="background-image: url('../static/main/png/home/test_project.png');">
                <div class="project_compare_block" onclick="event.preventDefault();">
                    <img src="{% static 'main/png/home/project_compare.png' %}" class="project_action_button" draggable="false">
                </div>
                <div class="favourite_block" onclick="event.preventDefault();">
                    <img src="{% static 'main/png/home/project_favourite.png' %}" class="project_action_button" draggable="false">
                </div>
            </div>
            <div class="project_block2">
                <p class="project_name">Дом 31414</p>
                <p class="project_price">от 3 550 000 руб</p>
                <div class="consultation_button" onclick="event.preventDefault();">Получить консультацию</div>
            </div>
        </a>

        <a class="project" href="/">
            <div class="project_block1" style="background-image: url('../static/main/png/home/test_project.png');">
                <div class="project_compare_block">
                    <img src="{% static 'main/png/home/project_compare.png' %}" class="project_action_button" draggable="false">
                </div>
                <div class="favourite_block">
                    <img src="{% static 'main/png/home/project_favourite.png' %}" class="project_action_button" draggable="false">
                </div>
            </div>
            <div class="project_block2">
                <p class="project_name">Дом 31414</p>
                <p class="project_price">от 3 550 000 руб</p>
                <div class="consultation_button" onclick="event.preventDefault();">Получить консультацию</div>
            </div>
        </a>

        <a class="project" href="/">
            <div class="project_block1" style="background-image: url('../static/main/png/home/test_project.png');">
                <div class="project_compare_block">
                    <img src="{% static 'main/png/home/project_compare.png' %}" class="project_action_button" draggable="false">
                </div>
                <div class="favourite_block">
                    <img src="{% static 'main/png/home/project_favourite.png' %}" class="project_action_button" draggable="false">
                </div>
            </div>
            <div class="project_block2">
                <p class="project_name">Дом 31414</p>
                <p class="project_price">от 3 550 000 руб</p>
                <div class="consultation_button" onclick="event.preventDefault();">Получить консультацию</div>
            </div>
        </a>

        <a class="project" href="/">
            <div class="project_block1" style="background-image: url('../static/main/png/home/test_project.png');">
                <div class="project_compare_block">
                    <img src="{% static 'main/png/home/project_compare.png' %}" class="project_action_button" draggable="false">
                </div>
                <div class="favourite_block">
                    <img src="{% static 'main/png/home/project_favourite.png' %}" class="project_action_button" draggable="false">
                </div>
            </div>
            <div class="project_block2">
                <p class="project_name">Дом 31414</p>
                <p class="project_price">от 3 550 000 руб</p>
                <div class="consultation_button" onclick="event.preventDefault();">Получить консультацию</div>
            </div>
        </a>
    </div>
    <a href="{% url 'projects' %}" class="we_all_projects">Все объекты</a>
</div>

<div class="special_block">
    <div class="special_block1">
        <div class="special_block1_1">
            <h1 class="special_block_title">У вас уже есть проект или смета на дом?</h1>
            <p class="special_block_text">Прикрепите готовую смету, и мы расскажем, как можно сэкономить</p>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="file" class="file_input"></label>
                <input type="file" id="file" class="feedback__file" name="file">
                <p class="file_name" id="file_name"></p>
                <p class="info_file_text" id="info_file_text">*Если у Вас более одного файла, поместите их все в один архив</p>
                <input id='name' type="text" name="name" placeholder="Ваше имя" class="special_block_input">
                <input id="phone" type="tel" name="phone" placeholder="Ваш телефон" class="special_block_input">
            </form>
        </div>
        <label class="mobile_container">Согласен на обработку персональных данных в соответствии с пользовательским соглашением
            <input type="checkbox" id="agreement" name="agreement" checked required>
            <span class="mobile_checkmark"></span>
        </label>
        <div class="special_block1_2">
            <div class="special_button1" id='send_estimate_button' onclick="send_estimate()">Отправить заявку</div>
            <div class="special_button2">Позвонить нам</div>
        </div>
    </div>

    <div class="special_block2">
        <img src="{% static 'main/png/home/special_block2_foto.png' %}" class="special_block2_foto" draggable="false">
        <label class="container">Согласен на обработку <a href="/" class="container_a">персональных данных</a> в соответствии с <a href="/" class="container_a">пользовательским соглашением</a>
            <input type="checkbox">
            <span class="checkmark"></span>
        </label>
    </div>
</div>

<div class="services_block" id="block4">
    <h1 class="block_title">Наши основные услуги</h1>
    <div class="services">
        <div class="service">
            <img src="{% static 'main/png/home/service1.png' %}" class="service_foto" draggable="false">
            <div class="service_info">
                <p class="service_name">Строительство домов из газобетона</p>
                <p class="service_text">Дома из газобетона - это отличное решение для создания прочных и теплых жилых помещений.
                    Мы работаем с этим инновационным материалом, обеспечивая высокое качество и долговечность строения.</p>
            </div>
        </div>

        <div class="service">
            <img src="{% static 'main/png/home/service2.png' %}" class="service_foto" draggable="false">
            <div class="service_info">
                <p class="service_name">Строительство домов из теплой керамики</p>
                <p class="service_text">Теплая керамика - это экологичный материал, который обладает прекрасными теплоизоляционными свойствами.
                    Мы специализируемся на строительстве домов из теплой керамики, обеспечивая комфортное проживание для наших клиентов.</p>
            </div>
        </div>

        <div class="service">
            <img src="{% static 'main/png/home/service3.png' %}" class="service_foto" draggable="false">
            <div class="service_info">
                <p class="service_name">Строительство брусовых домов</p>
                <p class="service_text">Брусовые дома - это классика, которая всегда актуальна и востребована.
                    Мы строим дома из натурального дерева, обеспечивая уютную и экологически чистую обстановку для жизни.</p>
            </div>
        </div>

        <div class="service">
            <img src="{% static 'main/png/home/service4.png' %}" class="service_foto" draggable="false">
            <div class="service_info">
                <p class="service_name">Строительство каркасных домов</p>
                <p class="service_text">Каркасные дома - это современное и экономичное решение.
                    Мы специализируемся на строительстве каркасных конструкций, обеспечивая высокую прочность и надежность вашего дома.</p>
            </div>
        </div>
    </div>
</div>

<div class="reviews_block" id="block5">
    <h1 class="block_title">Отзывы</h1>
    <div class="reviews">
        <div class="review">
            <div>
                <div class="person_info">
                    <img src="{% static 'main/png/home/person_icon.png' %}" class="person_icon" draggable="false">
                    <p class="person_name">Олег Артемьев</p>
                </div>
                <p class="review_text">
                    После строительства потребовалось выполнить наружную отделку сооружения. Обратились в компанию.
                    Ребята помогли выбрать облицовку, заделали щели все с внешней части дома. отличная работа.
                    Результатом довольны. Будем бытовку строить, обратимся снова вновь.
                </p>
            </div>
            <p class="continue_read">читать далее</p>
        </div>
        <div class="review">
            <div>
                <div class="person_info">
                    <img src="{% static 'main/png/home/person_icon.png' %}" class="person_icon" draggable="false">
                    <p class="person_name">Олег Артемьев</p>
                </div>
                <p class="review_text">
                    После строительства потребовалось выполнить наружную отделку сооружения. Обратились в компанию.
                    Ребята помогли выбрать облицовку, заделали щели все с внешней части дома. отличная работа.
                    Результатом довольны. Будем бытовку строить, обратимся снова вновь.
                </p>
            </div>
            <p class="continue_read">читать далее</p>
        </div>
        <div class="review">
            <div>
                <div class="person_info">
                    <img src="{% static 'main/png/home/person_icon.png' %}" class="person_icon" draggable="false">
                    <p class="person_name">Олег Артемьев</p>
                </div>
                <p class="review_text">
                    После строительства потребовалось выполнить наружную отделку сооружения. Обратились в компанию.
                    Ребята помогли выбрать облицовку, заделали щели все с внешней части дома. отличная работа.
                    Результатом довольны. Будем бытовку строить, обратимся снова вновь.
                </p>
            </div>
            <p class="continue_read">читать далее</p>
        </div>
    </div>
    <a href="{% url 'reviews' %}" class="we_all_projects">Все отзывы</a>
</div>

<div class="questions_block" id="block6">
    <h1 class="block_title">Часто задаваемые вопросы</h1>
    <div class="questions">
        <div class="question">
            <div class="question_container">
                <p class="question_text">Вопрос Вопрос Вопрос</p>
                <img src="{% static 'main/png/home/question_arrow.png' %}" class="arrow_icon" draggable="false">
            </div>

            <div class="answer_container">
                <p class="answer_text">Ответ ответ ответ ответ</p>
            </div>
        </div>
        <div class="question">
            <div class="question_container">
                <p class="question_text">Вопрос Вопрос Вопрос</p>
                <img src="{% static 'main/png/home/question_arrow.png' %}" class="arrow_icon" draggable="false">
            </div>

            <div class="answer_container">
                <p class="answer_text">Ответ ответ ответ ответ</p>
            </div>
        </div>
        <div class="question">
            <div class="question_container">
                <p class="question_text">Вопрос Вопрос Вопрос</p>
                <img src="{% static 'main/png/home/question_arrow.png' %}" class="arrow_icon" draggable="false">
            </div>

            <div class="answer_container">
                <p class="answer_text">Ответ ответ ответ ответ</p>
            </div>
        </div>
        <div class="question">
            <div class="question_container">
                <p class="question_text">Вопрос Вопрос Вопрос</p>
                <img src="{% static 'main/png/home/question_arrow.png' %}" class="arrow_icon" draggable="false">
            </div>

            <div class="answer_container">
                <p class="answer_text">Ответ ответ ответ ответ</p>
            </div>
        </div>

        <div class="question">
            <div class="question_container">
                <p class="question_text">Вопрос Вопрос Вопрос</p>
                <img src="{% static 'main/png/home/question_arrow.png' %}" class="arrow_icon" draggable="false">
            </div>

            <div class="answer_container">
                <p class="answer_text">Ответ ответ ответ ответ</p>
            </div>
        </div>
    </div>
</div>

<div class="your_question_block">
    <div class="your_question_info">
        <p class="your_question_title">Не нашли ответ на свой вопрос?</p>
        <p class="your_question_text">Задайте его нашим специалистам</p>
    </div>
    <div class="your_question_buttons">
        <div class="your_question_button1" id="openForm">Заказать звонок</div>
        <div class="your_question_button2">Позвонить нам</div>
    </div>
</div>
{% endblock %}