{% extends 'main/header.html' %}
{% load static %}


{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/home.css' %}">
{% endblock %}

{% block script %}
<script src="{% static 'main/js/home.js' %}" defer></script>
{% endblock %}

{% block title %}
Главная
{% endblock %}

{% block content %}
<div class="title_block">
    <div class="block_info" id="block_info">
        <h1 class="title_text">
            От идеи до ключей: Строительство домов и коттеджей
        </h1>
        <p class="extra_text">
            Индивидуальный подход к каждому дому: С нами ваша мечта становится реальностью без лишних забот.
        </p>
    </div>
    <div class="block_buttons" id="block_buttons">
        <div class="button1">
            Оставить заявку
            <img src="{% static 'main/png/home/phone.png' %}" class="button1_icon" draggable="false">
        </div>
        <a href="/" class="button2">Калькулятор стоимости дома</a>
        <a href="/" class="button3">Каталог всех проектов домов</a>
    </div>
</div>

<div class="mobile_title_block">
    <div class="mobile_block_buttons" id="mobile_block_buttons">
        <div class="mobile_button1">
            Оставить заявку
            <img src="{% static 'main/png/home/phone.png' %}" class="mobile_button1_icon" draggable="false">
        </div>
    </div>
    <div class="mobile_block_info" id="mobile_block_info">
        <h1 class="mobile_title_text">
            От идеи до ключей: Строительство домов и коттеджей
        </h1>
        <p class="mobile_extra_text">
            Индивидуальный подход к каждому дому: С нами ваша мечта становится реальностью без лишних забот.
        </p>
        <a href="/" class="mobile_button2">Калькулятор стоимости дома</a>
        <a href="/" class="mobile_button3">Каталог всех проектов домов</a>
    </div>
</div>

<div class="advantages_block">
    <h1 class="block_title">Наши преимущества</h1>
    <div class="advantages">

        <div class="advantage">
            <div class="advantage_block1">
                <img src="{% static 'main/png/home/advantage1.png' %}" class="advantage_icon" draggable="false">
                Богатый опыт
            </div>
            <div class="advantage_block2">
                Многолетний опыт в строительстве каменных и деревянных домов, который обеспечивает
                непревзойденное качество и надежность в каждом проекте.
            </div>
        </div>

        <div class="advantage">
            <div class="advantage_block1">
                <img src="{% static 'main/png/home/advantage2.png' %}" class="advantage_icon" draggable="false">
                Индивидуальный подход
            </div>
            <div class="advantage_block2">
                Уникальные решения, разработанные в соответствии с вашими потребностями и желаниями.
            </div>
        </div>

        <div class="advantage">
            <div class="advantage_block1">
                <img src="{% static 'main/png/home/advantage3.png' %}" class="advantage_icon" draggable="false">
                Современные стандарты
            </div>
            <div class="advantage_block2">
                Применение передовых технологий и стандартов, обеспечивающих современность и
                надежность в каждом аспекте работы.
            </div>
        </div>

        <div class="advantage">
            <div class="advantage_block1">
                <img src="{% static 'main/png/home/advantage4.png' %}" class="advantage_icon" draggable="false">
                Активное развитие
            </div>
            <div class="advantage_block2">
                Непрерывное стремление к улучшению и инновациям, обеспечивающие ваш успех и доверие.
            </div>
        </div>

        <div class="advantage">
            <div class="advantage_block1">
                <img src="{% static 'main/png/home/advantage5.png' %}" class="advantage_icon" draggable="false">
                Гарантия качества
            </div>
            <div class="advantage_block2">
                Надежные гарантии на работы и материалы, обеспечивающие ваш спокойный сон.
            </div>
        </div>

        <div class="advantage">
            <div class="advantage_block1">
                <img src="{% static 'main/png/home/advantage6.png' %}" class="advantage_icon" draggable="false">
                Помощь и содействие
            </div>
            <div class="advantage_block2">
                Долгосрочные отношения с клиентами и полная поддержка на всех этапах вашего проекта.
            </div>
        </div>
    </div>
</div>

<div class="steps_block">
    <h1 class="block_title">Этапы работы</h1>
    <div class="steps_block_content">
        <img src="{% static 'main/png/home/steps_background1.png' %}" class="steps_background" draggable="false">
        <img src="{% static 'main/png/home/steps_main.png' %}" class="steps_main_photo" draggable="false">
        <img src="{% static 'main/png/home/mobile_steps_main.png' %}" class="mobile_steps_main_photo" draggable="false">
        <img src="{% static 'main/png/home/steps_background2.png' %}" class="steps_background" draggable="false">
    </div>
</div>

<div class="idea_block">
    <div class="idea_block_content">
        <h1 class="idea_content_title">Мы превратим вашу идею о доме в живую реальность</h1>
        <p class="idea_content_text">Ознакомьтесь с нашими завершенными проектами.</p>
        <a href="/" class="we_works_button">Наши работы</a>
    </div>
    <div class="idea_block_photo">
        <img src="{% static 'main/png/home/idea_photo.png' %}" class="idea_photo" draggable="false">
    </div>
</div>
{% endblock %}