{% extends 'main/header.html' %}
{% load static %}


{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/portfolio.css' %}">
{% endblock %}


{% block script %}
<script src="{% static 'main/js/portfolio.js' %}" defer></script>
{% endblock %}


{% block title %}
Портфолио
{% endblock %}


{% block navigation %}
<a href="/">Главная</a> » Портфолио
{% endblock %}

{% block mobile_navigation %}
<a href="/">Главная</a> » Портфолио
{% endblock %}


{% block title_text %}
Наши готовые объекты
{% endblock %}

{% block extra_text %}
Погрузитесь в наше портфолио готовых проектов и увидите, как ваш будущий дом может выглядеть в жизни.
{% endblock %}


{% block mobile_title_text %}
Наши готовые объекты
{% endblock %}

{% block mobile_extra_text %}
Погрузитесь в наше портфолио готовых проектов и увидите, как ваш будущий дом может выглядеть в жизни.
{% endblock %}


{% block content %}
{% endblock %}