{% extends 'main/header.html' %}
{% load static %}
{% load custom_filters %}


{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/project.css' %}">
{% endblock %}


{% block script %}
<script src="{% static 'main/js/project.js' %}" defer></script>
{% endblock %}


{% block title %}
Проект {{ project.name }}
{% endblock %}


{% block navigation %}
<a href="/">Главная</a> » <a href="{% url 'projects' %}">Проекты</a> » {{ project.name }}
{% endblock %}

{% block mobile_navigation %}
<a href="/">Главная</a> » <a href="{% url 'projects' %}">Проекты</a> » {{ project.name }}
{% endblock %}


{% block title_text %}
{{ project.name }}
{% endblock %}

{% block extra_text %}
Мы реализуем строительство вашего дома на основе готового проекта.
{% endblock %}


{% block mobile_title_text %}
{{ project.name }}
{% endblock %}

{% block mobile_extra_text %}
Мы реализуем строительство вашего дома на основе готового проекта.
{% endblock %}


{% block content %}
<div class="my_project" id="block1">
    <div class="project_head">
        <a class="project_back_block" href="{% url 'projects' %}">
            <img src="{% static 'main/png/project/project_back.png' %}" class="project_back_img" draggable="false">
            <p class="back_project_text">Вернуться в каталог проектов</p>
        </a>
        <div class="action_project_buttons">
            <div class="project_action_block">
                <img src="{% static 'main/png/home/project_compare.png' %}" class="project_compare_img" draggable="false">
                <p class="project_compare_text">Добавить для сравнения</p>
            </div>

            <div class="project_action_block">
                <img src="{% static 'main/png/home/project_favourite.png' %}" class="project_like_img" draggable="false">
                <p class="project_like_text">Добавить в избранное</p>
            </div>
        </div>
    </div>

    <div class="my_project_body">
        <div class="project_first_block">
            <p class="project_description">
                {{ project.description }}
            </p>

            <div class="project_area_block">
                <div class="project_living_area_block">
                    <p class="project_living_area_title">Жилая площадь</p>
                    <p class="project_living_area_value">{{ project.living_area }} кв.м.</p>
                </div>

                <div class="project_total_area_block">
                    <p class="project_total_area_title">Общая площадь</p>
                    <p class="project_total_area_value">{{ project.total_area }} кв.м.</p>
                </div>
            </div>

            <div class="project_extra_info">
                <div class="project_extra_info_block" style="padding-bottom: 0;">
                    <p class="project_extra_info_title">Спален:</p>
                    <p class="project_extra_info_value">{{ project.bedrooms }}</p>
                </div>
                <div class="project_extra_info_block" style="padding-bottom: 0;">
                    <p class="project_extra_info_title">Санузлов:</p>
                    <p class="project_extra_info_value">{{ project.bathroom }}</p>
                </div>
            </div>

            <div class="project_extra_info">
                <div class="project_extra_info_block">
                    <p class="project_extra_info_title">Этажей:</p>
                    <p class="project_extra_info_value">{{ project.floors }}</p>
                </div>
                <div class="project_extra_info_block">
                    <p class="project_extra_info_title">Терраса:</p>
                    {% if project.terrace %}
                        <p class="project_extra_info_value">Есть</p>
                    {% else %}
                        <p class="project_extra_info_value">Нет</p>
                    {% endif %}
                </div>
            </div>

            <div class="project_equipment_block">
                <div class="project_equipment_title_block">
                    <p class="project_equipment_title">КОМПЛЕКТАЦИЯ</p>
                    <img src="" alt="">
                </div>
                <select class="project_equipment_selector">
                    {% for equipment in equipments %}
                        <option value="{{ equipment }}">{{ equipment }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="project_equipment_block">
                <div class="project_equipment_title_block">
                    <p class="project_equipment_title">ТИП СТЕН</p>
                    <img src="" alt="">
                </div>
                <select class="project_equipment_selector">
                    {% for equipment in types_walls %}
                        <option value="{{ equipment }}">{{ equipment }}</option>
                    {% endfor %}
                </select>
            </div>

            <p class="project_price_title">ЦЕНА СТРОИТЕЛЬСТВА ДОМА ОТ</p>
            <p class="project_price_value" id="project_value">{{ project.min_price|format_price }} РУБ</p>

            <div class="project_create_order">Сделать заказ</div>


            <p class="project_new_price_text">При исключении некоторых организационных позиций можно уменьшить стоимость наших услуг</p>
            <div class="project_new_price">Сделать дешевле</div>
        </div>

        <div class="project_second_block">
            <div class="slider">
                <div class="slider__wrapper">
                    <div class="slider__items">
                        {% for image in project.images.all %}
                            <div class="slider__item">
                                <img src="{% static image %}" class="slide_photo" draggable="false">
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <a class="slider__control slider__control_prev" href="#" role="button" data-slide="prev" style="color: white; border: 0;"></a>
                <a class="slider__control slider__control_next" href="#" role="button" data-slide="next" style="color: white; border: 0;"></a>
                <ol class="slider__indicators">
                    {% for i in images_count %}
                        <li class="slider__indicator" data-slide-to={{ i }}></li>
                    {% endfor %}
                </ol>
            </div>
            <div class="layouts_block">
                <div class="layouts_count">
                    {% for i in layouts_count %}
                        <div class="layout_count_block" id="layout_{{ i }}" onclick="new_layout({{ i }})">
                            Этаж {{ i }}
                        </div>
                    {% endfor %}
                </div>

                <div class="layouts_images">
                    {% for i, image in layouts %}
                        <div class="layout_image" id="layout_image_{{ i }}">
                            <img src="{% static image %}" class="layout_photo" draggable="false">
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}