{% extends 'main/header.html' %}
{% load static %}


{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/projects.css' %}">
{% endblock %}


{% block script %}
<script src="{% static 'main/js/projects.js' %}" defer></script>
{% endblock %}


{% block title %}
Проекты
{% endblock %}


{% block navigation %}
<a href="/">Главная</a> » Проекты
{% endblock %}

{% block mobile_navigation %}
<a href="/">Главная</a> » Проекты
{% endblock %}


{% block title_text %}
Проекты и цены домов
{% endblock %}

{% block extra_text %}
Мы реализуем строительство вашего дома на основе готового проекта.
{% endblock %}


{% block mobile_title_text %}
Проекты и цены домов
{% endblock %}

{% block mobile_extra_text %}
Мы реализуем строительство вашего дома на основе готового проекта.
{% endblock %}


{% block content %}
{% endblock %}