{% extends 'main/header.html' %}
{% load static %}
{% load custom_filters %}


{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/project.css' %}">
{% endblock %}


{% block script %}
<script src="{% static 'main/js/project.js' %}" defer></script>
{% endblock %}


{% block title %}
Проект {{ project.name }}
{% endblock %}


{% block navigation %}
<a href="/">Главная</a> » <a href="{% url 'projects' %}">Проекты</a> » {{ project.name }}
{% endblock %}

{% block mobile_navigation %}
<a href="/">Главная</a> » <a href="{% url 'projects' %}">Проекты</a> » {{ project.name }}
{% endblock %}


{% block title_text %}
{{ project.name }}
{% endblock %}

{% block extra_text %}
Мы реализуем строительство вашего дома на основе готового проекта.
{% endblock %}


{% block mobile_title_text %}
{{ project.name }}
{% endblock %}

{% block mobile_extra_text %}
Мы реализуем строительство вашего дома на основе готового проекта.
{% endblock %}


{% block content %}
<div class="my_project" id="block1">
    <div class="project_head">
        <a class="project_back_block" href="{% url 'projects' %}">
            <img src="{% static 'main/png/project/project_back.png' %}" class="project_back_img" draggable="false">
            <p class="back_project_text">Вернуться в каталог проектов</p>
        </a>
        <div class="action_project_buttons">
            <div class="project_action_block" onclick="addCompares({{ project.id }})">
                <img src="{% static 'main/png/home/project_compare.png' %}" id='project_compare_{{ project.id }}' class="project_compare_img" data-active-src="{% static 'main/png/home/project_compare_active.png' %}" data-inactive-src="{% static 'main/png/home/project_compare.png' %}" draggable="false">
                <p class="project_compare_text" id="project_compare_text">Добавить для сравнения</p>
            </div>

            <div class="project_action_block" onclick="addFavorites({{ project.id }})">
                <img src="{% static 'main/png/home/project_favourite.png' %}" id='project_like_{{ project.id }}' class="project_like_img" data-active-src="{% static 'main/png/home/project_favourite_active.png' %}" data-inactive-src="{% static 'main/png/home/project_favourite.png' %}" draggable="false">
                <p class="project_like_text" id="project_like_text">Добавить в избранное</p>
            </div>
        </div>
    </div>

    <div class="my_project_body">
        <div class="project_first_block">
            <div class="project_first_block1">
                <p class="project_description">
                    {{ project.description }}
                </p>

                <div class="project_area_block">
                    <div class="project_living_area_block">
                        <p class="project_living_area_title">Жилая площадь</p>
                        <p class="project_living_area_value">{{ project.living_area }} кв.м.</p>
                    </div>

                    <div class="project_total_area_block">
                        <p class="project_total_area_title">Общая площадь</p>
                        <p class="project_total_area_value">{{ project.total_area }} кв.м.</p>
                    </div>
                </div>

                <div class="project_extra_info">
                    <div class="project_extra_info_block" style="padding-bottom: 0;">
                        <p class="project_extra_info_title">Спален:</p>
                        <p class="project_extra_info_value">{{ project.bedrooms }}</p>
                    </div>
                    <div class="project_extra_info_block" style="padding-bottom: 0;">
                        <p class="project_extra_info_title">Санузлов:</p>
                        <p class="project_extra_info_value">{{ project.bathroom }}</p>
                    </div>
                </div>

                <div class="project_extra_info">
                    <div class="project_extra_info_block">
                        <p class="project_extra_info_title">Этажей:</p>
                        <p class="project_extra_info_value">{{ project.floors }}</p>
                    </div>
                    <div class="project_extra_info_block">
                        <p class="project_extra_info_title">Терраса:</p>
                        {% if project.terrace %}
                            <p class="project_extra_info_value">Есть</p>
                        {% else %}
                            <p class="project_extra_info_value">Нет</p>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="project_first_block2">
                <div class="project_equipment_block">
                    <div class="project_equipment_title_block">
                        <p class="project_equipment_title">КОМПЛЕКТАЦИЯ</p>
                        <a href="#comparison" style="display: flex;align-items: center;"><img src="{% static 'main/png/project/info_about_equipment.png' %}" class="about_equipment_png" draggable="false"></a>
                    </div>
                    <select class="project_equipment_selector" id="complect1">
                        {% for equipment in equipments %}
                            <option value="{{ equipment }}">{{ equipment }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="project_equipment_block">
                    <div class="project_equipment_title_block">
                        <p class="project_equipment_title">ТИП СТЕН</p>
                    </div>
                    <select class="project_equipment_selector" id="complect2">
                        {% for equipment in types_walls %}
                            <option value="{{ equipment }}">{{ equipment }}</option>
                        {% endfor %}
                    </select>
                </div>

                <p class="project_price_title">ЦЕНА СТРОИТЕЛЬСТВА ДОМА ОТ</p>
                <p class="project_price_value" id="project_value">{{ project.min_price|format_price }} РУБ</p>

                <div class="project_create_order" id="openFormBtn5">Сделать заказ</div>


                <p class="project_new_price_text">При исключении некоторых организационных позиций можно уменьшить стоимость наших услуг</p>
                <div class="project_new_price" id="make_sale_open">Сделать дешевле</div>
            </div>

        </div>

        <div class="project_second_block">
            <div class="slider">
                <div class="slider__wrapper">
                    <div class="slider__items">
                        {% for image in project.images.all %}
                            <div class="slider__item">
                                <img src="{% static image %}" class="slide_photo" onclick="zoom_img(this);" draggable="false">
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <a class="slider__control slider__control_prev" href="#" role="button" data-slide="prev" style="color: white; border: 0;"></a>
                <a class="slider__control slider__control_next" href="#" role="button" data-slide="next" style="color: white; border: 0;"></a>
                <ol class="slider__indicators">
                    {% for i in images_count %}
                        <li class="slider__indicator" data-slide-to={{ i }}></li>
                    {% endfor %}
                </ol>
            </div>
            <div class="layouts_block">
                <div class="layouts_count">
                    {% for i in layouts_count %}
                        <div class="layout_count_block" id="layout_{{ i }}" onclick="new_layout({{ i }})">
                            Этаж {{ i }}
                        </div>
                    {% endfor %}
                </div>

                <div class="layouts_images">
                    {% for i, image in layouts %}
                        <div class="layout_image" id="layout_image_{{ i }}">
                            <img src="{% static image %}" class="layout_photo" onclick="zoom_img(this);" draggable="false">
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="price_block" id="block2">
    <div class="price">
        <div class="price_info">
            <p class="price_title">Стоимость строительства</p>
            <p class="price_text">Конечная стоимость строительства зависит от множества факторов</p>
            <p class="price_item">• План и инженерные решения предстоящего строительства;</p>
            <p class="price_item">• Особенности геологического состава грунтов на участке строительства;</p>
            <p class="price_item">• Список строительных материалов (с указанием марок прочности и производителя);</p>
            <p class="price_item">• Сложность строительно-монтажных процессов (включая укладку стен, создание фундамента и крыши, и другие работы).</p>
            <div class="price_buttons">
                <button type="button" class="price_button1" id="calculator_open3">Рассчитать стоимость дома</button>
                <a href="#consultation" type="button" class="price_button2">Получить консультацию</a>
            </div>
        </div>
        <img src="{% static 'main/png/finished_projects/price_foto.png' %}" class="price_foto" draggable="false">
    </div>
</div>

<div id="comparison" class="comparison-container">
  <h2>Сравнение комплектаций</h2>
  <table class="comparison-table">
    <thead>
      <tr>
        <th>Характеристики</th>
        <th>Базовая</th>
        <th>Стандарт</th>
        <th>Комфорт</th>
        <th>White-box</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Фундамент</td>
        <td>✔️</td>
        <td>✔️</td>
        <td>✔️</td>
        <td>✔️</td>
      </tr>
      <tr>
        <td>Стены</td>
        <td>✔️</td>
        <td>✔️</td>
        <td>✔️</td>
        <td>✔️</td>
      </tr>
      <tr>
        <td>Крыша</td>
        <td>✔️</td>
        <td>✔️</td>
        <td>✔️</td>
        <td>✔️</td>
      </tr>
      <tr>
        <td>Отмостка</td>
        <td>✘</td>
        <td>✔️</td>
        <td>✔️</td>
        <td>✔️</td>
      </tr>
      <tr>
        <td>Фасад</td>
        <td>✘</td>
        <td>✔️</td>
        <td>✔️</td>
        <td>✔️</td>
      </tr>
      <tr>
        <td>Окна</td>
        <td>✘</td>
        <td>✔️</td>
        <td>✔️</td>
        <td>✔️</td>
      </tr>
      <tr>
        <td>Инженерные сети</td>
        <td>✘</td>
        <td>✘</td>
        <td>✔️</td>
        <td>✔️</td>
      </tr>
      <tr>
        <td>Штукатурка</td>
        <td>✘</td>
        <td>✘</td>
        <td>✔️</td>
        <td>✔️</td>
      </tr>
      <tr>
        <td>Стяжка</td>
        <td>✘</td>
        <td>✘</td>
        <td>✘</td>
        <td>✔️</td>
      </tr>
      <tr>
        <td>Дизайн проект</td>
        <td>✘</td>
        <td>✘</td>
        <td>✘</td>
        <td>✔️</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="causes_block" id="consultation">
    <h1 class="block_title">Причины выбрать нас</h1>
    <div class="causes">
        <div class="cause">
            <img src="{% static 'main/png/home/advantage1.png' %}" class="cause_foto" draggable="false">
            <p class="cause_text">Богатый опыт</p>
        </div>
        <div class="cause">
            <img src="{% static 'main/png/home/advantage2.png' %}" class="cause_foto" draggable="false">
            <p class="cause_text">Индивидуальный подход</p>
        </div>
        <div class="cause">
            <img src="{% static 'main/png/home/advantage3.png' %}" class="cause_foto" draggable="false">
            <p class="cause_text">Современные стандарты</p>
        </div>
        <div class="cause">
            <img src="{% static 'main/png/home/advantage4.png' %}" class="cause_foto" draggable="false">
            <p class="cause_text">Активное развитие</p>
        </div>
        <div class="cause">
            <img src="{% static 'main/png/home/advantage5.png' %}" class="cause_foto" draggable="false">
            <p class="cause_text">Гарантия качества</p>
        </div>
        <div class="cause">
            <img src="{% static 'main/png/home/advantage6.png' %}" class="cause_foto" draggable="false">
            <p class="cause_text">Помощь и содействие</p>
        </div>

    </div>
</div>


<div class="special_block222">
    <div class="special_block1">
        <div class="special_block1_1">
            <h1 class="special_block_title">У вас уже есть проект или смета на дом?</h1>
            <p class="special_block_text">Прикрепите готовую смету, и мы расскажем, как можно сэкономить</p>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="file" class="file_input"></label>
                <input type="file" id="file" class="feedback__file" name="file">
                <p class="file_name" id="file_name"></p>
                <p class="info_file_text" id="info_file_text">*Если у Вас более одного файла, поместите их все в один архив</p>
                <input id='name' type="text" name="name" placeholder="Ваше имя" class="special_block_input">
                <input id="phone" type="tel" name="phone" placeholder="Ваш телефон" class="special_block_input">
            </form>
        </div>
        <label class="mobile_container">Согласен на обработку <a href="#soglasie1" id="soglasie_open4" class="container_a">персональных данных</a> в соответствии с <a href="{% url 'agreement' %}" class="container_a">пользовательским соглашением</a>
            <input type="checkbox" id="agreement" name="agreement" checked required>
            <span class="mobile_checkmark"></span>
        </label>
        <div class="special_block1_2">
            <div class="special_button1" id='send_estimate_button' onclick="send_estimate()">Отправить заявку</div>
            <a class="special_button2" style="text-decoration: none;" href="tel:89958866700">Позвонить нам</a>
        </div>
    </div>

    <div class="special_block2">
        <img src="{% static 'main/png/home/special_block2_foto.png' %}" class="special_block2_foto" draggable="false">
        <label class="container">Согласен на обработку <a href="#soglasie1" id="soglasie_open5" class="container_a">персональных данных</a> в соответствии с <a href="{% url 'agreement' %}" class="container_a">пользовательским соглашением</a>
            <input type="checkbox" checked required>
            <span class="checkmark"></span>
        </label>
    </div>
</div>








<div class="make_sale" id="make_sale">
    <div class="make_sale_content">
        <span class="close-btn" id="make_sale_close">&times;</span>
        <h2 class="make_sale_title">Сделать дешевле</h2>
        <p class="make_sale_text">Мы заложили в стандартную комплектацию наиболее качественные материалы и все необходимое для Вашего комфорта и спокойствия. Вы можете убрать некоторые пункты, если считаете, что это Вам не нужно.</p>
        <div class="make_sale_container">
            {% for sale in sales %}
                <div class="make_sale_item">

                    <label class="container2" id="{{ sale.id }}">{{ sale.name }}</a>
                        <input type="checkbox" id="sale_{{ sale.id }}" value="{{ sale.price }}" required>
                        <span class="checkmark2"></span>
                    </label>

                    <p class="sale_price">{{ sale.price|format_price }} руб</p>
                </div>
            {% endfor %}
        </div>
        <p class="total_sale" id="total_sale">ИТОГО: 0 руб</p>
        <p class="make_sale_text">На эту сумму можно уменьшить стоимость наших услуг без потери качества и при исключении некоторых организационных позиций.</p>
    </div>
</div>



{% endblock %}