{% extends 'main/header.html' %}
{% load static %}


{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/reviews.css' %}">
{% endblock %}


{% block script %}
<script src="{% static 'main/js/reviews.js' %}" defer></script>
{% endblock %}


{% block title %}
Отзывы клиентов – Довольные владельцы домов | SK Tower
{% endblock %}


{% block description %}
<meta name="description" content="Читайте отзывы клиентов о строительстве домов под ключ от SK Tower. Реальные мнения и впечатления.">
{% endblock %}



{% block navigation %}
<a href="/">Главная</a> » Отзывы
{% endblock %}

{% block mobile_navigation %}
<a href="/">Главная</a> » Отзывы
{% endblock %}


{% block title_text %}
Отзывы
{% endblock %}

{% block extra_text %}
Ознакомьтесь с отзывами довольных клиентов - убедитесь в нашей надежности.
{% endblock %}


{% block mobile_title_text %}
Отзывы
{% endblock %}

{% block mobile_extra_text %}
Ознакомьтесь с отзывами довольных клиентов - убедитесь в нашей надежности.
{% endblock %}


{% block content %}
<div class="reviews_block" id="block1">
        <div class="block_review_text">
        <h1 class="review_title">Отзывы</h1>
    </div>
    <div class="reviews">
        {% for review in reviews %}
            <div class="review">
                <div>
                    <div class="person_info">
                        <img src="{% static 'main/png/home/person_icon.png' %}" class="person_icon" draggable="false">
                        <p class="person_name">{{ review.reviewer_name }}</p>
                    </div>
                    <p class="review_text">
                        {{ review.review }}
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>


<div class="make_review_block">
    <div class="block_review_text">
        <h1 class="review_title">Уже пользовались нашими услугами? Оставьте свой отзыв!</h1>
        <p class="review_block_text">Ваше мнение очень важно для нас, и мы будем благодарны, если вы поделитесь своим опытом.</p>
    </div>

    <div class="make_review">
        <div class="make_review_text_block">
            <h1 class="make_review_title">Оставьте отзыв о нас</h1>
            <p class="make_review_text">Поделитесь вашим мнением о нашем сервисе! Лишь минутка вашего времени — и ваш отзыв о нашем сервисе поможет нам стать еще лучше.</p>
        </div>
        <div class="make_review_form">
            <input id='review_name' type="text" name="review_name" placeholder="Ваше имя" class="review_name_input">
            <textarea id="review" name="review" placeholder="Ваш отзыв" class="review_input"></textarea>
            <label class="container2">Согласен на обработку <a href="#soglasie1" id="soglasie_open6" class="container_a2">персональных данных</a> в соответствии с <a href="{% url 'agreement' %}" class="container_a2">пользовательским соглашением</a>
                <input type="checkbox" id="review_agreement" name="review_agreement" checked>
                <span class="checkmark2"></span>
            </label>
            <div class="make_review_button" id='send_review_button' onclick="send_review()">Оставить отзыв</div>
        </div>
    </div>
</div>


<div class="special_block">
    <p class="special_block_title">Получить консультацию специалиста</p>
    <div class="special_block_inputs">
        <input id='name' type="text" name="name" placeholder="Ваше имя" class="special_block_input">
        <input id="phone" type="tel" onkeypress="return event.charCode >= 48 && event.charCode <= 57" name="phone" placeholder="Ваш телефон" class="special_block_input">
    </div>
    <div class="special_block_buttons">
        <div class="special_buttons">
            <div class="special_button1" id='send_consultation_button' onclick="send_consultation()">Отправить заявку</div>
            <a class="special_button2" style="text-decoration: none;" href="tel:{{ number }}">Позвонить нам</a>
        </div>
        <label class="container">Согласен на обработку <a href="#soglasie1" id="soglasie_open7" class="container_a">персональных данных</a> в соответствии с <a href="{% url 'agreement' %}" class="container_a">пользовательским соглашением</a>
            <input type="checkbox" id="agreement" name="agreement" checked>
            <span class="checkmark"></span>
        </label>
    </div>
</div>

{% endblock %}