{% extends 'main/header.html' %}
{% load static %}


{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/reviews.css' %}">
{% endblock %}


{% block script %}
<script src="{% static 'main/js/reviews.js' %}" defer></script>
{% endblock %}


{% block title %}
Отзывы
{% endblock %}


{% block navigation %}
<a href="/">Главная</a> » Отзывы
{% endblock %}

{% block mobile_navigation %}
<a href="/">Главная</a> » Отзывы
{% endblock %}


{% block title_text %}
Отзывы
{% endblock %}

{% block extra_text %}
Ознакомьтесь с отзывами довольных клиентов - убедитесь в нашей надежности.
{% endblock %}


{% block mobile_title_text %}
Отзывы
{% endblock %}

{% block mobile_extra_text %}
Ознакомьтесь с отзывами довольных клиентов - убедитесь в нашей надежности.
{% endblock %}


{% block content %}
{% endblock %}