{% extends 'main/header.html' %}
{% load static %}


{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/services.css' %}">
{% endblock %}


{% block script %}
<script src="{% static 'main/js/services.js' %}" defer></script>
{% endblock %}


{% block title %}
Услуги
{% endblock %}


{% block navigation %}
<a href="/">Главная</a> » Услуги
{% endblock %}

{% block mobile_navigation %}
<a href="/">Главная</a> » Услуги
{% endblock %}


{% block title_text %}
Наши услуги
{% endblock %}

{% block extra_text %}
Откройте мир наших услуг и найдите идеальное решение для ваших потребностей.
{% endblock %}


{% block mobile_title_text %}
Наши услуги
{% endblock %}

{% block mobile_extra_text %}
Откройте мир наших услуг и найдите идеальное решение для ваших потребностей.
{% endblock %}


{% block content %}
{% endblock %}