{% extends 'main/header.html' %}
{% load static %}


{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/services.css' %}">
{% endblock %}


{% block script %}
<script src="{% static 'main/js/services.js' %}" defer></script>
{% endblock %}


{% block title %}
Услуги
{% endblock %}


{% block navigation %}
<a href="/">Главная</a> » Услуги
{% endblock %}

{% block mobile_navigation %}
<a href="/">Главная</a> » Услуги
{% endblock %}


{% block title_text %}
Наши услуги
{% endblock %}

{% block extra_text %}
Откройте мир наших услуг и найдите идеальное решение для ваших потребностей.
{% endblock %}


{% block mobile_title_text %}
Наши услуги
{% endblock %}

{% block mobile_extra_text %}
Откройте мир наших услуг и найдите идеальное решение для ваших потребностей.
{% endblock %}


{% block content %}
<div class="services_block" id="block1">
    <div class="block_services_text">
        <h1 class="services_title">Строительство домов под ключ</h1>
        <p class="services_text">Мы предлагаем полный спектр услуг по строительству домов из различных материалов и по разнообразным проектам. Наша команда специалистов готова реализовать как индивидуальные, так и типовые проекты, включая следующие виды строительства:</p>
    </div>
    <div class="services">
        <div class="service">
            <img src="{% static 'main/png/home/service1.png' %}" class="service_foto" draggable="false">
            <div class="service_info">
                <p class="service_name">Строительство домов из газобетона</p>
                <p class="service_text">Дома из газобетона - это отличное решение для создания прочных и теплых жилых помещений.
                    Мы работаем с этим инновационным материалом, обеспечивая высокое качество и долговечность строения.</p>
            </div>
        </div>

        <div class="service">
            <img src="{% static 'main/png/home/service2.png' %}" class="service_foto" draggable="false">
            <div class="service_info">
                <p class="service_name">Строительство домов из теплой керамики</p>
                <p class="service_text">Теплая керамика - это экологичный материал, который обладает прекрасными теплоизоляционными свойствами.
                    Мы специализируемся на строительстве домов из теплой керамики, обеспечивая комфортное проживание для наших клиентов.</p>
            </div>
        </div>

        <div class="service">
            <img src="{% static 'main/png/home/service3.png' %}" class="service_foto" draggable="false">
            <div class="service_info">
                <p class="service_name">Строительство брусовых домов</p>
                <p class="service_text">Брусовые дома - это классика, которая всегда актуальна и востребована.
                    Мы строим дома из натурального дерева, обеспечивая уютную и экологически чистую обстановку для жизни.</p>
            </div>
        </div>

        <div class="service">
            <img src="{% static 'main/png/home/service4.png' %}" class="service_foto" draggable="false">
            <div class="service_info">
                <p class="service_name">Строительство каркасных домов</p>
                <p class="service_text">Каркасные дома - это современное и экономичное решение.
                    Мы специализируемся на строительстве каркасных конструкций, обеспечивая высокую прочность и надежность вашего дома.</p>
            </div>
        </div>
    </div>
</div>



<div class="extra_services_block" id="block2">
    <div class="block_services_text">
        <h1 class="services_title">Дополнительные услуги</h1>
        <p class="services_text">Мы предлагаем полный спектр услуг по строительству домов из различных материалов и по разнообразным проектам. Наша команда специалистов готова реализовать как индивидуальные, так и типовые проекты, включая следующие виды строительства:</p>
    </div>

    <div class="extra_services">
        <div class="extra_service">
            <img src="{% static 'main/png/services/extra_service1.png' %}" class="extra_service_foto" draggable="false">
            <p class="extra_service_name">Разработка индивидуальных проектов с нашими архитекторами</p>
        </div>
        <div class="extra_service">
            <img src="{% static 'main/png/services/extra_service2.png' %}" class="extra_service_foto" draggable="false">
            <p class="extra_service_name">Строительство фундаментов любых типов</p>
        </div>
        <div class="extra_service">
            <img src="{% static 'main/png/services/extra_service3.png' %}" class="extra_service_foto" draggable="false">
            <p class="extra_service_name">Устройство монолитных перекрытий</p>
        </div>
        <div class="extra_service">
            <img src="{% static 'main/png/services/extra_service4.png' %}" class="extra_service_foto" draggable="false">
            <p class="extra_service_name">Монтаж инженерных систем</p>
        </div>
        <div class="extra_service">
            <img src="{% static 'main/png/services/extra_service5.png' %}" class="extra_service_foto" draggable="false">
            <p class="extra_service_name">Строительство фундаментов любых типов</p>
        </div>
    </div>
</div>

<div class="causes_block" id="block3">
    <h1 class="block_title">Причины выбрать нас</h1>
    <div class="causes">
        <div class="cause">
            <img src="{% static 'main/png/home/advantage1.png' %}" class="cause_foto" draggable="false">
            <p class="cause_text">Богатый опыт</p>
        </div>
        <div class="cause">
            <img src="{% static 'main/png/home/advantage2.png' %}" class="cause_foto" draggable="false">
            <p class="cause_text">Индивидуальный подход</p>
        </div>
        <div class="cause">
            <img src="{% static 'main/png/home/advantage3.png' %}" class="cause_foto" draggable="false">
            <p class="cause_text">Современные стандарты</p>
        </div>
        <div class="cause">
            <img src="{% static 'main/png/home/advantage4.png' %}" class="cause_foto" draggable="false">
            <p class="cause_text">Активное развитие</p>
        </div>
        <div class="cause">
            <img src="{% static 'main/png/home/advantage5.png' %}" class="cause_foto" draggable="false">
            <p class="cause_text">Гарантия качества</p>
        </div>
        <div class="cause">
            <img src="{% static 'main/png/home/advantage6.png' %}" class="cause_foto" draggable="false">
            <p class="cause_text">Помощь и содействие</p>
        </div>

    </div>
</div>


<div class="special_block">
    <p class="special_block_title">Получить консультацию специалиста</p>
    <div class="special_block_inputs">
        <input id='name' type="text" name="name" placeholder="Ваше имя" class="special_block_input">
        <input id="phone" type="tel" name="phone" placeholder="Ваш телефон" class="special_block_input">
    </div>
    <div class="special_block_buttons">
        <div class="special_buttons">
            <div class="special_button1" id='send_consultation_button' onclick="send_consultation()">Отправить заявку</div>
            <div class="special_button2">Позвонить нам</div>
        </div>
        <label class="container">Согласен на обработку <a href="/" class="container_a">персональных данных</a> в соответствии с <a href="/" class="container_a">пользовательским соглашением</a>
            <input type="checkbox" id="agreement" name="agreement" checked>
            <span class="checkmark"></span>
        </label>
    </div>
</div>

{% endblock %}