.about_block {
    opacity: 0;
    margin-top: 100px;
    transition: 2.5s ease;
}

.about_digits_block {
    opacity: 0;
    margin-top: 100px;
    transition: 2.5s ease;
}

.causes_block {
    opacity: 0;
    margin-top: 100px;
    transition: 2.5s ease;
}

.our_works {
    opacity: 0;
    margin-top: 100px;
    transition: 2.5s ease;
}

.reviews_block {
    opacity: 0;
    margin-top: 100px;
    transition: 2.5s ease;
}

.contact_block {
    opacity: 0;
    margin-top: 100px;
    transition: 2.5s ease;
}

.visible_block {
    margin-top: 0;
    opacity: 1;
}





.about_block {
    max-width: 1800px;
    margin: 30px auto;
    display: flex;
    width: 85%;
    align-items: center;
    justify-content: space-between;
}

.about_block_icons {
    display: flex;
    column-gap: 30px;
}

.about_icon {
    height: 150px;
}

.about_block_info {
    max-width: 40%;
    display: flex;
    flex-direction: column;
}

.about_block_title {
    font-size: 40px;
    font-family: 'Gilroy-Bold', sans-serif;
    color: black;
    letter-spacing: 0.8px;
}

.about_block_text {
    font-size: 18px;
    font-family: 'Gilroy-Bold', sans-serif;
    color: #242424;
    letter-spacing: 0.8px;
}

@media screen and (max-width: 1150px){
    .about_block {
        margin: 20px auto;
        width: 85%;
        flex-direction: column-reverse;
    }

    .about_block_icons {
        margin-top: 20px;
        display: flex;
        width: 100%;
        max-width: 700px;
        justify-content: space-between;
    }

    .about_icon {
        height: 120px;
    }


    .about_block_info {
        max-width: 90%;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .about_block_title {
        font-size: 40px;
        font-family: 'Gilroy-Bold', sans-serif;
        color: black;
        letter-spacing: 0.8px;
        margin-block-start: 10px;
        margin-block-end: 0px;
    }

    .about_block_text {
        font-size: 18px;
        font-family: 'Gilroy-Bold', sans-serif;
        color: #242424;
        letter-spacing: 0.8px;
        margin-block-start: 25px;
    }
}

@media screen and (max-width: 750px){
    .about_block {
        margin: 30px auto;
        width: 95%;
    }

    .about_block_icons {
        margin-top: 20px;
        display: flex;
        width: 60%;
        column-gap: 0px;
    }

    .about_icon {
        height: 80px;
    }

    .about_block_title {
        font-size: 30px;
    }

    .about_block_text {
        font-size: 16px;
    }
}

@media screen and (max-width: 500px){
    .about_icon {
        height: 60px;
    }

    .about_block_icons {
        display: none;
    }

    .about_block_title {
        font-size: 28px;
    }

    .about_block_text {
        font-size: 14px;
    }
}


.about_digits_block {
    max-width: 1800px;
    margin: 70px auto;
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;
}

.about_digits {
    width: 250px;
    height: 280px;
    display: flex;
    row-gap: 25px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.about_digit_value {
    background-color: black;
    width: 90px;
    height: 70px;
    font-size: 35px;
    font-family: 'Gilroy-Bold', sans-serif;
    color: white;
    letter-spacing: 0.8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about_digit_text {
    font-size: 24px;
    font-family: 'Gilroy-Bold', sans-serif;
    color: black;
    letter-spacing: 0.8px;
}

@media screen and (max-width: 1300px){
    .about_digits_block {
        margin: 70px auto;
        width: 580px;
        display: grid;
        grid-template-columns: repeat(2, 250px);
        grid-auto-rows: 280px;
        grid-column-gap: 80px;
        grid-row-gap: 20px;
    }
}

@media screen and (max-width: 800px){
    .about_digits_block {
        margin: 70px auto;
        width: 480px;
        display: grid;
        grid-template-columns: repeat(2, 220px);
        grid-auto-rows: 220px;
        grid-column-gap: 40px;
        grid-row-gap: 20px;
    }

    .about_digits {
        width: 220px;
        height: 220px;
        row-gap: 15px;
    }

    .about_digit_value {
        width: 80px;
        height: 65px;
        font-size: 28px;
    }

    .about_digit_text {
        font-size: 18px;
        font-family: 'Gilroy-Bold', sans-serif;
        color: black;
        letter-spacing: 0.8px;
    }
}

@media screen and (max-width: 500px){
    .about_digits_block {
        margin: 50px auto 30px auto;
        width: 340px;
        display: grid;
        grid-template-columns: repeat(2, 150px);
        grid-auto-rows: 180px;
        grid-column-gap: 40px;
        grid-row-gap: 20px;
    }

    .about_digits {
        width: 150px;
        height: 180px;
        row-gap: 15px;
    }

    .about_digit_value {
        width: 60px;
        height: 45px;
        font-size: 25px;
    }

    .about_digit_text {
        font-size: 16px;
        font-family: 'Gilroy-Bold', sans-serif;
        color: black;
        letter-spacing: 0.8px;
    }
}

.block_title {
    font-size: 38px;
    font-family: 'Gilroy-Bold', sans-serif;
    color: black;
    text-align: center;
}

@media screen and (max-width: 1175px){
    .block_title {
        font-size: 32px;
        margin-top: 75px;
    }
}

@media screen and (max-width: 750px){
    .block_title {
        font-size: 28px;
        margin-top: 25px;
    }
}

@media screen and (max-width: 500px){
    .block_title {
        font-size: 24px;
    }
}




.causes_block {
    max-width: 1800px;
    margin: 70px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 80%;
}

.causes_text {
    font-size: 18px;
    font-family: 'Gilroy-Bold', sans-serif;
    color: black;
    letter-spacing: 0.8px;
    margin-block-start: 0;
}

.causes {
    margin: 40px auto;
    width: 750px;
    display: grid;
    grid-template-columns: repeat(2, 350px);
    grid-auto-rows: 180px;
    grid-column-gap: 50px;
    grid-row-gap: 20px;
    justify-content: center;
}

.cause {
    width: 350px;
    height: 180px;
}

.cause_icon {
    height: 70px;
}

.cause_text {
    font-size: 18px;
    font-family: 'Gilroy-Bold', sans-serif;
    color: black;
    letter-spacing: 0.8px;
}

@media screen and (max-width: 1000px){
    .causes_block {
        width: 90%;
    }

    .causes_text {
        font-size: 17px;
    }

    .causes {
        margin: 40px auto;
        width: 540px;
        display: grid;
        grid-template-columns: repeat(2, 250px);
        grid-auto-rows: 160px;
        grid-column-gap: 40px;
        grid-row-gap: 20px;
        justify-content: center;
    }

    .cause {
        width: 250px;
        height: 160px;
    }

    .cause_icon {
        height: 60px;
    }

    .cause_text {
        font-size: 16px;
    }
}

@media screen and (max-width: 650px){
    .causes_block {
        margin: 40px auto;
        width: 90%;
    }

    .causes_text {
        margin-top: 15px;
        font-size: 15px;
    }

    .causes {
        margin: 40px auto;
        width: 330px;
        display: grid;
        grid-template-columns: repeat(2, 150px);
        grid-auto-rows: 150px;
        grid-column-gap: 30px;
        grid-row-gap: 20px;
        justify-content: center;
    }

    .cause {
        width: 150px;
        height: 150px;
    }

    .cause_icon {
        height: 55px;
    }

    .cause_text {
        font-size: 14px;
    }
}




.slide_photo {
  vertical-align: middle;
  width: 100%;
}

.slides {
  position: relative;
  width: 90%;
  margin: 30px auto;
  max-width: 1800px;
}

.slide {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 60%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  user-select: none;
  -webkit-user-select: none;
}

.next {
    right: 0;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 700px){
    .prev,
    .next {
      cursor: pointer;
      position: absolute;
      top: 60%;
      width: auto;
      padding: 8px;
      margin-top: -30px;
      color: white;
      font-weight: bold;
      font-size: 14px;
      user-select: none;
      -webkit-user-select: none;
    }
}

.we_all_projects {
    margin: 70px auto 40px auto;
    width: 280px;
    height: 55px;
    background-color: #101A1E;
    color: white;
    text-decoration: none;
    display: flex;
    font-size: 18px;
    font-family: 'Gilroy-Bold', sans-serif;
    letter-spacing: 0.5px;
    align-items: center;
    justify-content: center;
    transition: 0.8s ease;
}

.we_all_projects:hover {
    background-color: #394144;
}

@media screen and (max-width: 1200px){
    .we_all_projects {
        margin: 35px auto;
        width: 250px;
        height: 50px;
        font-size: 15px;
    }
}

@media screen and (max-width: 575px){
    .we_all_projects {
        margin: 30px auto;
        width: 70%;
        height: 45px;
        font-size: 14px;
    }
}

@media screen and (max-width: 480px){
    .we_all_projects {
        width: 75%;
        height: 45px;
        font-size: 14px;
    }
}

@media screen and (max-width: 400px){
    .we_all_projects {
        width: 80%;
        height: 45px;
        font-size: 14px;
    }
}



.special_block {
    max-width: 1800px;
    width: 90%;
    margin: 40px auto;
    height: 500px;
    background-size: cover;
    background-image: url("../png/about/special_background.png");
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.special_block_title {
    margin-left: 5%;
    font-size: 50px;
    max-width: 70%;
    font-family: 'Gilroy-Bold', sans-serif;
    letter-spacing: 1px;
    color: white;
    margin-block-start: 50px;
    margin-block-end: 0px;
}

.special_block_inputs {
    width: 90%;
    margin: 10px auto;
    display: flex;
    column-gap: 100px;
}

.special_block_input {
    outline:none;
    width: 40%;
    height: 50px;
    border: 2px solid #CFCFCF;
    margin-bottom: 10px;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 17px;
    font-family: 'Gilroy-Bold', sans-serif;
    color: black;
    letter-spacing: 0.7px;
}

.special_buttons {
    display: flex;
    row-gap: 40px;
}

.special_block_buttons {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 20px auto;
}

.special_button1 {
    background-color: #949494;
    width: 270px;
    height: 90px;
    font-size: 22px;
    font-family: 'Gilroy-Bold', sans-serif;
    color: #2A2A2A;
    letter-spacing: 0.7px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.7s ease;
}

.special_button1:hover {
    outline: 15px solid rgba(255, 255, 255, 0.25);
}

.special_button2 {
    background-color: #101A1E;
    width: 270px;
    height: 90px;
    font-size: 22px;
    font-family: 'Gilroy-Bold', sans-serif;
    color: white;
    letter-spacing: 0.7px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 70px;
    cursor: pointer;
    transition: 0.7s ease;
}

.special_button2:hover {
    outline: 15px solid rgba(0, 0, 0, 0.35);
}

.container {
    margin-right: 30px;
    display: block;
    position: relative;
    margin-top: 20px;
    width: 30%;
    padding-left: 30px;
    cursor: pointer;
    font-size: 15px;
    font-family: 'Gilroy-Bold', sans-serif;
    color: white;
    letter-spacing: 0.7px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container_a {
    color: white;
    text-decoration: underline;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 6px;
    left: 0;
    height: 12px;
    width: 12px;
    border-radius: 5px;
    border: white 4px solid;
    transition: 0.4s ease;
}

.container input:checked ~ .checkmark {
    background-color: white;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 3px;
    top: 0px;
    width: 4px;
    height: 7px;
    border: solid black;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

@media screen and (max-width: 1150px){
    .special_block {
        margin: 30px auto;
        height: auto;
        padding-bottom: 30px;
        background-image: url("../png/about/special_background.png");
        row-gap: 0px;
    }

    .special_block_title {
        margin-left: 5%;
        font-size: 40px;
        max-width: 75%;
        margin-block-start: 40px;
    }

    .special_block_inputs {
        margin: 50px auto 20px auto;
        row-gap: 20px;
        flex-direction: column;
    }

    .special_block_input {
        width: 90%;
        height: 50px;
        margin-bottom: 10px;
        font-size: 17px;
    }

    .special_buttons {
        display: flex;
        row-gap: 40px;
    }

    .special_block_buttons {
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
        margin-left: 5%;
        row-gap: 30px;
    }

    .special_button1 {
        width: 240px;
        height: 70px;
        font-size: 18px;
        margin-left: 0px;
    }

    .special_button1:hover {
        outline: 0px;
    }

    .special_button2 {
        width: 240px;
        height: 70px;
        font-size: 18px;
        margin-left: 70px;
    }

    .container {
        margin-right: 30px;
        margin-top: 20px;
        width: 60%;
        padding-left: 30px;
        font-size: 15px;
    }


    .checkmark {
        top: 6px;
        left: 0;
        height: 12px;
        width: 12px;
    }

    .container .checkmark:after {
        left: 3px;
        top: 0px;
        width: 4px;
        height: 7px;
    }
}

@media screen and (max-width: 700px){
    .special_block {
        margin: 40px auto;
        background-image: url("../png/about/mobile_special_background.png");
    }

    .special_block_title {
        margin-left: 10%;
        font-size: 30px;
        max-width: 80%;
    }

    .special_block_inputs {
        margin: 40px auto 15px auto;
        row-gap: 5px;
        width: 80%;
    }

    .special_block_input {
        width: 100%;
        height: 45px;
        margin-bottom: 10px;
        font-size: 15px;
    }

    .special_buttons {
        display: flex;
        row-gap: 20px;
        flex-direction: column-reverse;
    }

    .special_block_buttons {
        row-gap: 25px;
        margin: 0px auto;
        width: 80%;
    }

    .special_button1 {
        width: 200px;
        height: 60px;
        font-size: 15px;
        margin-left: 0px;
    }

    .special_button1:hover {
        outline: 0px;
    }

    .special_button2 {
        width: 200px;
        height: 60px;
        font-size: 15px;
        margin-left: 0px;
    }

    .special_button2:hover {
        outline: 0px;
    }

    .container {
        margin-right: 30px;
        margin-top: 20px;
        width: 90%;
        padding-left: 30px;
        font-size: 15px;
    }


    .checkmark {
        top: 15px;
        left: 0;
        height: 12px;
        width: 12px;
    }

    .container .checkmark:after {
        left: 3px;
        top: 0px;
        width: 4px;
        height: 7px;
    }
}


.reviews {
    display: flex;
    justify-content: center;
    column-gap: 60px;
    margin-top: 20px;
}

.review {
    width: 300px;
    height: 400px;
    border-radius: 10px;
    border: 3px solid #101A1E;
    padding: 10px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.person_info {
    display: flex;
    column-gap: 20px;
    align-items: center;
}

.person_icon {
    width: 45px;
}

.person_name {
    font-size: 18px;
    font-family: 'Gilroy-Bold', sans-serif;
    color: black;
    letter-spacing: 0.8px;
}

.review_text {
    height: 260px;
    overflow: hidden;
    margin-top: 20px;
    font-size: 16px;
    font-family: 'Gilroy-Bold', sans-serif;
    color: grey;
    text-overflow: ellipsis;
    letter-spacing: 0.8px;
}

.continue_read {
    margin-left: 10px;
    font-size: 14px;
    font-family: 'Gilroy-Bold', sans-serif;
    color: grey;
    letter-spacing: 0.8px;
    cursor: pointer;
}

@media screen and (max-width: 1350px){
    .reviews {
        column-gap: 40px;
        margin-top: 20px;
    }

    .review {
        width: 200px;
        height: 300px;
        padding: 5px 10px 10px 10px;
    }

    .person_info {
        column-gap: 15px;
    }

    .person_icon {
        width: 40px;
    }

    .person_name {
        font-size: 15px;
    }

    .review_text {
        height: 150px;
        margin-top: 20px;
        font-size: 13px;
    }

    .continue_read {
        font-size: 11px;
    }
}

@media screen and (max-width: 770px){
    .reviews {
        column-gap: 40px;
        margin-top: 20px;
        flex-direction: column;
        align-items: center;
        row-gap: 25px;
    }

    .review {
        width: 80%;
        max-width: 250px;
        height: 300px;
        padding: 5px 10px 10px 10px;
    }

    .person_info {
        column-gap: 15px;
    }

    .person_icon {
        width: 40px;
    }

    .person_name {
        font-size: 15px;
    }

    .review_text {
        height: 150px;
        margin-top: 20px;
        font-size: 13px;
    }

    .continue_read {
        font-size: 11px;
    }
}


.contact_block {
    margin: 60px auto;
    max-width: 1280px;
    height: 650px;
    position: relative;
}

.contact_info_block {
    position: absolute;
    left: 100px;
    top: 130px;
    width: 370px;
    height: 320px;
    padding: 20px 30px 40px 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.contact_info_title {
    margin-block-start: 20px;
    font-size: 17px;
    font-family: 'Gilroy-Bold', sans-serif;
    color: black;
    letter-spacing: 0.7px;
    margin-block-end: 0;
}

.contact_info_text {
    margin-block-start: 10px;
    margin-block-end: 0;
    font-size: 14px;
    font-family: 'Gilroy-Bold', sans-serif;
    color: grey;
    letter-spacing: 0.7px;
    text-decoration: none;
}

.contact_button {
    margin-top: 40px;
    width: 240px;
    height: 50px;
    background-color: #101A1E;
    color: white;
    text-decoration: none;
    display: flex;
    font-size: 15px;
    font-family: 'Gilroy-Bold', sans-serif;
    letter-spacing: 0.5px;
    align-items: center;
    justify-content: center;
    transition: 0.8s ease;
    cursor: pointer;
}

.contact_button:hover {
    background-color: #394144;
}

.map2 {
    display: none;
}

@media screen and (max-width: 1000px){
    .map1 {
        display: none;
    }

    .map2 {
        display: block;
    }

    .contact_block {
        margin: 60px auto;
        height: 760px;
    }

    .contact_info_block {
        left: 50%;
        transform: translateX(-50%);
        top: 80px;
        width: 300px;
        height: 270px;
        padding: 20px 20px 40px 20px;
    }

    .contact_info_title {
        margin-block-start: 15px;
        font-size: 15px;
    }

    .contact_info_text {
        margin-block-start: 8px;
        font-size: 12px;
    }

    .contact_button {
        margin-top: 30px;
        width: 180px;
        height: 40px;
        font-size: 12px;
    }
}



.slider {
    max-width: 90%;
}

.slide_photo {
    max-width: 98%;
}
