.title_block {
    background-image: url("../png/home/background.png");
    background-size: cover;
    display: flex;
    justify-content: space-between;
    height: 600px;
}

.mobile_title_block {
    background-image: url("../png/home/mobile_background.png");
    background-size: cover;
    justify-content: space-between;
    height: auto;
    display: none;
}

.block_info {
    display: flex;
    flex-direction: column;
    margin-left: -1000px;
    margin-top: 120px;
    max-width: 55%;
    transition: 1.2s ease-out;
}

.title_text {
    color: white;
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 60px;
    margin-block-end: 10px;
    letter-spacing: 2px;
}

.extra_text {
    color: #E6E6E6;
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
}



.block_buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    opacity: 0;
    transition: 1.5s ease;
}

.button1 {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-top: 70px;
    width: 220px;
    height: 55px;
    background-color: rgba(0, 0, 0, 0.4);
    color: #DCDCDC;
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 16px;
    padding-left: 30px;
    cursor: pointer;
    transition: 0.4s ease;
}

.button1:hover {
    background-color: rgba(0, 0, 0, 0.7 );
}

.button1_icon {
    height: 30px;
}

.button2 {
    margin-top: 150px;
    margin-right: 75px;
    width: 170px;
    height: 80px;
    background-color: #949494;
    color: #2A2A2A;
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    padding: 0 50px 0 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    outline: rgba(128, 128, 128, 0.35) 20px solid;
}

.button3 {
    margin-top: 80px;
    margin-right: 75px;
    width: 170px;
    height: 80px;
    background-color: #101A1E;
    color: white;
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    padding: 0 50px 0 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    outline: rgba(128, 128, 128, 0.35) 20px solid;
}

@media screen and (max-width: 1175px){
    .title_block {
        display: none;
    }

    .mobile_title_block {
        display: flex;
        flex-direction: column;
    }

    .mobile_block_info {
        display: flex;
        flex-direction: column;
        margin-left: -1000px;
        margin-top: 20px;
        max-width: 80%;
        transition: 1.2s ease-out;
    }

    .mobile_title_text {
        color: white;
        font-family: 'Gilroy-Bold', sans-serif;
        font-size: 60px;
        margin-block-end: 10px;
        letter-spacing: 2px;
    }

    .mobile_extra_text {
        color: #E6E6E6;
        font-family: 'Gilroy-Bold', sans-serif;
        font-size: 20px;
        letter-spacing: 2px;
    }



    .mobile_block_buttons {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        opacity: 0;
        transition: 1.5s ease;
    }

    .mobile_button1 {
        display: flex;
        align-items: center;
        column-gap: 10px;
        margin-top: 40px;
        width: 220px;
        height: 55px;
        background-color: rgba(0, 0, 0, 0.4);
        color: #DCDCDC;
        font-family: 'Gilroy-Bold', sans-serif;
        font-size: 16px;
        padding-left: 30px;
        cursor: pointer;
    }

    .mobile_button1_icon {
        height: 30px;
    }

    .mobile_button2 {
        margin-top: 50px;
        margin-left: 20px;
        width: 170px;
        height: 80px;
        background-color: #949494;
        color: #2A2A2A;
        font-family: 'Gilroy-Bold', sans-serif;
        font-size: 16px;
        text-decoration: none;
        display: flex;
        padding: 0 50px 0 50px;
        text-align: center;
        align-items: center;
        justify-content: center;
        outline: rgba(128, 128, 128, 0.35) 20px solid;
    }

    .mobile_button3 {
        margin-top: 80px;
        margin-left: 20px;
        width: 170px;
        height: 80px;
        background-color: #101A1E;
        color: white;
        font-family: 'Gilroy-Bold', sans-serif;
        font-size: 16px;
        text-decoration: none;
        display: flex;
        padding: 0 50px 0 50px;
        text-align: center;
        align-items: center;
        justify-content: center;
        outline: rgba(128, 128, 128, 0.35) 20px solid;
        margin-bottom: 70px;
    }
}

@media screen and (max-width: 750px){

    .mobile_block_info {
        margin-left: -500px;
        margin-top: 15px;
        max-width: 85%;
        transition: 1.2s ease-out;
    }

    .mobile_title_text {
        font-size: 40px;
        margin-block-end: 10px;
        letter-spacing: 2px;
        margin-block-start: 10px;
    }

    .mobile_extra_text {
        font-size: 15px;
        letter-spacing: 2px;
    }

    .mobile_button1 {
        column-gap: 10px;
        margin-top: 40px;
        width: 170px;
        height: 45px;
        font-size: 13px;
        padding-left: 20px;
    }

    .mobile_button1_icon {
        height: 25px;
    }

    .mobile_button2 {
        margin-top: 60px;
        margin-left: 20px;
        width: 140px;
        height: 60px;
        font-size: 13px;
        padding: 0 50px 0 50px;
        outline: rgba(128, 128, 128, 0.35) 12px solid;
    }

    .mobile_button3 {
        margin-top: 50px;
        margin-left: 20px;
        width: 140px;
        height: 60px;
        font-size: 13px;
        padding: 0 50px 0 50px;
        margin-bottom: 60px;
        outline: rgba(128, 128, 128, 0.35) 12px solid;
    }
}



.block_title {
    font-size: 38px;
    font-family: 'Gilroy-Bold', sans-serif;
    color: black;
    margin-block-start: 50px;
    text-align: center;
}

.advantages{
    width: 1100px;
    margin: 35px auto;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-auto-rows: 325px;
    grid-column-gap: 100px;
    grid-row-gap: 60px;
}

.advantage {
    width: 300px;
    height: 325px;
}

.advantage_block1 {
    width: 300px;
    height: 175px;
    background-color: #DFDFDF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-family: 'Gilroy-Bold', sans-serif;
    color: black;
    row-gap: 10px;
    letter-spacing: 0.4px;
    text-align: center;
}

.advantage_icon {
    height: 75px;
}

.advantage_block2 {
    width: 260px;
    height: 130px;
    background-color: #101A1E;
    font-size: 15px;
    font-family: 'Gilroy-Bold', sans-serif;
    color: white;
    padding: 20px 20px 0 20px;
    letter-spacing: 0.4px;
}

@media screen and (max-width: 1175px){
    .block_title {
        font-size: 32px;
        margin-block-start: 25px;
    }

    .advantages{
        width: 700px;
        margin: 25px auto;
        grid-template-columns: repeat(3, 200px);
        grid-auto-rows: 280px;
        grid-column-gap: 50px;
        grid-row-gap: 40px;
    }

    .advantage {
        width: 200px;
        height: 280px;
    }

    .advantage_block1 {
        width: 200px;
        height: 140px;
        font-size: 17px;
        row-gap: 8px;
    }

    .advantage_icon {
        height: 50px;
    }

    .advantage_block2 {
        width: 170px;
        height: 110px;
        font-size: 13px;
        padding: 15px 15px 0 15px;
    }
}

@media screen and (max-width: 750px){
    .block_title {
        font-size: 28px;
        margin-block-start: 20px;
    }

    .advantages{
        width: 465px;
        margin: 20px auto;
        grid-template-columns: repeat(2, 220px);
        grid-auto-rows: 250px;
        grid-column-gap: 25px;
        grid-row-gap: 20px;
    }

    .advantage {
        width: 220px;
        height: 250px;
    }

    .advantage_block1 {
        width: 220px;
        height: 120px;
        row-gap: 8px;
    }

    .advantage_icon {
        height: 50px;
    }

    .advantage_block2 {
        width: 200px;
        height: 120px;
        padding: 10px 10px 0 10px;
    }
}

@media screen and (max-width: 500px){
    .block_title {
        font-size: 24px;
        margin-block-start: 20px;
    }

    .advantages{
        width: 220px;
        margin: 25px auto;
        grid-template-columns: repeat(1, 220px);
        grid-auto-rows: 260px;
        grid-column-gap: 25px;
        grid-row-gap: 25px;
    }

    .advantage {
        width: 220px;
        height: 260px;
    }

    .advantage_block1 {
        width: 220px;
        height: 120px;
        font-size: 16px;
        row-gap: 8px;
    }

    .advantage_icon {
        height: 60px;
    }

    .advantage_block2 {
        width: 200px;
        height: 130px;
        font-size: 14px;
        padding: 10px 10px 0 10px;
    }
}





.steps_block_content {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.steps_background {
    width: 200px;
}

.steps_main_photo {
    width: 900px;
}

.mobile_steps_main_photo {
    display: none;
}

@media screen and (max-width: 1300px){
    .steps_background {
        width: 150px;
    }

    .steps_main_photo {
        width: 700px;
    }
}

@media screen and (max-width: 1000px){
    .steps_background {
        width: 120px;
    }

    .steps_main_photo {
        width: 500px;
    }
}

@media screen and (max-width: 750px){
    .steps_block_content {
        margin-top: 40px;
    }

    .steps_background {
        width: 120px;
    }

    .steps_main_photo {
        display: none;
    }

    .mobile_steps_main_photo {
        display: block;
        width: 300px;
    }
}

@media screen and (max-width: 540px){
    .steps_block_content {
        margin-top: 30px;
    }

    .steps_background {
        display: none
    }

    .mobile_steps_main_photo {
        width: 350px;
        margin: auto;
    }
}



.idea_block {
    margin-top: 40px;
    width: 100%;
    height: 530px;
    background-image: url("../png/home/idea_background.png");
    background-size: cover;
    display: flex;
    justify-content: space-around;
}

.idea_block_content {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    max-width: 60%;
}

.idea_content_title {
    font-size: 60px;
    font-family: 'Gilroy-Bold', sans-serif;
    color: white;
    letter-spacing: 1.5px;
    margin-block-end: 0;
}

.idea_content_text {
    font-size: 25px;
    font-family: 'Gilroy-Bold', sans-serif;
    color: white;
    letter-spacing: 1px;
}

.we_works_button {
    width: 350px;
    height: 80px;
    background-color: #C0C0C0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin-top: 50px;
    font-family: 'Gilroy-Bold', sans-serif;
}

.idea_block_photo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.idea_photo {
    height: 300px;
}

@media screen and (max-width: 1380px){
    .we_works_button {
        margin-top: 30px;
    }
}

@media screen and (max-width: 1175px){
    .idea_block {
        margin-top: 40px;
        height: 400px;
    }

    .idea_block_content {
        margin-top: 40px;
        max-width: 70%;
    }

    .idea_content_title {
        font-size: 40px;
    }

    .idea_content_text {
        font-size: 20px;
    }

    .we_works_button {
        width: 320px;
        height: 75px;
        font-size: 18px;
        margin-top: 20px;
    }

    .idea_photo {
        height: 220px;
    }
}

@media screen and (max-width: 900px){
    .idea_block {
        margin-top: 30px;
        height: 300px;
    }

    .idea_block_content {
        margin-top: 30px;
        max-width: 60%;
    }

    .idea_content_title {
        font-size: 30px;
    }

    .idea_content_text {
        font-size: 16px;
    }

    .we_works_button {
        width: 220px;
        height: 55px;
        font-size: 16px;
        margin-top: 15px;
    }

    .idea_photo {
        height: 170px;
    }
}

@media screen and (max-width: 725px){
    .idea_block {
        margin-top: 30px;
        height: 300px;
    }

    .idea_block_content {
        margin-left: 10px;
        margin-top: 15px;
        max-width: 60%;
    }

    .idea_content_title {
        font-size: 26px;
    }

    .idea_content_text {
        font-size: 14px;
    }

    .we_works_button {
        width: 160px;
        height: 45px;
        font-size: 13px;
        margin-top: 12px;
    }

    .idea_photo {
        margin-right: 10px;
        height: 140px;
    }
}





.projects {
    display: grid;
    margin: 35px auto;
    width: 1180px;
    grid-template-columns: repeat(4, 250px);
    grid-auto-rows: 340px;
    grid-column-gap: 60px;
    grid-row-gap: 40px;
}

.project {
    background-color: #101A1E;
    border-radius: 10px;
    text-decoration: none;
}

.project_block1 {
    width: 100%;
    height: 200px;
    background-size: cover;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
}

.project_compare_block {
    width: 28px;
    height: 28px;
    margin-top: 8px;
    margin-right: 5px;
    cursor: pointer;
}

.favourite_block {
    width: 28px;
    height: 28px;
    margin-top: 8px;
    margin-right: 8px;
    cursor: pointer;
}

.project_action_button {
    height: 28px;
}

.project_block2 {
    display: flex;
    flex-direction: column;
}

.project_name {
    font-size: 18px;
    font-family: 'Gilroy-Bold', sans-serif;
    color: white;
    letter-spacing: 1.5px;
    margin-block-start: 20px;
    margin-block-end: 0;
    margin-left: 15px;
}

.project_price {
    font-size: 20px;
    font-family: 'Gilroy-Bold', sans-serif;
    color: white;
    letter-spacing: 1.5px;
    margin-block-start: 10px;
    margin-block-end: 0;
    margin-left: 15px;
}

.consultation_button {
    width: 85%;
    height: 35px;
    background-color: #A0A0A0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 10px;
    font-family: 'Gilroy-Bold', sans-serif;
    letter-spacing: 0.5px;
    justify-content: center;
    margin: 15px auto;
    cursor: pointer;
    color: black;
}

.we_all_projects {
    margin: 40px auto;
    width: 280px;
    height: 55px;
    background-color: #101A1E;
    color: white;
    text-decoration: none;
    display: flex;
    font-size: 18px;
    font-family: 'Gilroy-Bold', sans-serif;
    letter-spacing: 0.5px;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1200px){
    .projects {
        margin: 30px auto;
        width: 560px;
        grid-template-columns: repeat(2, 250px);
    }

    .we_all_projects {
        margin: 35px auto;
        width: 250px;
        height: 50px;
        font-size: 15px;
    }
}

@media screen and (max-width: 700px){
    .projects {
        margin: 30px auto;
        width: 540px;
        grid-template-columns: repeat(2, 250px);
        grid-column-gap: 40px;
    }
}

@media screen and (max-width: 575px){
    .projects {
        margin: 25px auto;
        width: 70%;
        grid-template-columns: repeat(1, 100%);
        grid-auto-rows: 500px;
        grid-row-gap: 25px;
    }

    .project_block1 {
        height: 360px;
    }

    .we_all_projects {
        margin: 30px auto;
        width: 70%;
        height: 45px;
        font-size: 14px;
    }
}

@media screen and (max-width: 530px){
    .project_compare_block {
        width: 32px;
        height: 32px;
    }

    .favourite_block {
        width: 32px;
        height: 32px;
    }

    .project_action_button {
        height: 32px;
    }
}

@media screen and (max-width: 480px){
    .projects {
        width: 75%;
        grid-auto-rows: 470px;
    }

    .project_block1 {
        height: 330px;
    }

    .we_all_projects {
        width: 75%;
        height: 45px;
        font-size: 14px;
    }
}

@media screen and (max-width: 440px){
    .projects {
        width: 75%;
        grid-auto-rows: 450px;
    }

    .project_block1 {
        height: 310px;
    }
}


@media screen and (max-width: 400px){
    .projects {
        width: 80%;
        grid-auto-rows: 420px;
    }

    .project_block1 {
        height: 280px;
    }

    .we_all_projects {
        width: 80%;
        height: 45px;
        font-size: 14px;
    }
}





.special_block {
    display: flex;
    width: 90%;
    max-width: 1800px;
    margin: 20px auto;
    background-image: url("../png/home/special_block_background.png");
    background-size: cover;
    height: auto;
    padding-bottom: 60px;
    justify-content: space-between;
}

.special_block1 {
    margin-top: 40px;
    max-width: 50%;
}

.special_block1_1 {
    margin-left: 75px;
}

.special_block_title {
    color: white;
    font-size: 60px;
    font-family: 'Gilroy-Bold', sans-serif;
    letter-spacing: 1px;
    margin-block-end: 0;
}

.special_block_text {
    color: #E4E4E4;
    margin-block-start: 30px;
    font-size: 24px;
    font-family: 'Gilroy-Bold', sans-serif;
    letter-spacing: 0.7px;
    margin-block-end: 20px;
}

.file_input::-webkit-file-upload-button {
    visibility: hidden;
}

.file_input::before {
    content: 'Прикрепить документацию';
    border: 3px solid #BBBBBB;
    background-color: #BBBBBB;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 70px;
    border-radius: 5px;
    -webkit-user-select: none;
    cursor: pointer;
    font-size: 20px;
    transition: .5s ease;
    font-family: 'Gilroy-Bold', sans-serif;
}

.file_input:hover::before {
    outline:none;
    transition: .5s ease;
}

.special_block2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.special_block2_foto {
    width: 90%;
    margin-right: 10%;
}

.special_block_input {
    outline:none;
    width: 60%;
    height: 65px;
    border: 2px solid #CFCFCF;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 21px;
    font-family: 'Gilroy-Bold', sans-serif;
    color: black;
    letter-spacing: 0.7px;
}

.feedback__file {
  display: none;
}

.info_file_text {
    font-size: 18px;
    font-family: 'Gilroy-Bold', sans-serif;
    color: white;
    letter-spacing: 0.7px;
}

.special_block1_2 {
    margin-top: 50px;
    display: flex;
}

.special_button1 {
    outline: 25px solid rgba(255, 255, 255, 0.25);
    background-color: #101A1E;
    width: 270px;
    height: 90px;
    font-size: 22px;
    font-family: 'Gilroy-Bold', sans-serif;
    color: white;
    letter-spacing: 0.7px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    cursor: pointer;
}

.special_button2 {
    outline: 25px solid rgba(0, 0, 0, 0.35);
    background-color: #949494;
    width: 270px;
    height: 90px;
    font-size: 22px;
    font-family: 'Gilroy-Bold', sans-serif;
    color: #2A2A2A;
    letter-spacing: 0.7px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    cursor: pointer;
}

.container {
    display: block;
    position: relative;
    margin-top: 20px;
    padding-left: 50px;
    cursor: pointer;
    font-size: 25px;
    font-family: 'Gilroy-Bold', sans-serif;
    color: white;
    letter-spacing: 0.7px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 12px;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 5px;
    border: white 5px solid;
    transition: 0.4s ease;
}

.container input:checked ~ .checkmark {
    background-color: white;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid black;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


.mobile_container {
    display: none;
    position: relative;
    margin-top: 20px;
    margin-left: 75px;
    padding-left: 50px;
    cursor: pointer;
    font-size: 20px;
    max-width: 800px;
    font-family: 'Gilroy-Bold', sans-serif;
    color: white;
    letter-spacing: 0.7px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mobile_container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.mobile_checkmark {
    position: absolute;
    top: 8px;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 5px;
    border: white 5px solid;
    transition: 0.4s ease;
}

.mobile_container input:checked ~ .mobile_checkmark {
    background-color: white;
}

.mobile_checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.mobile_container input:checked ~ .mobile_checkmark:after {
    display: block;
}

.mobile_container .mobile_checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid black;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


@media screen and (max-width: 1800px){
    .special_block1 {
        margin-top: 30px;
        max-width: 60%;
    }

    .special_block2 {
        max-width: 40%;
    }

    .container {
        font-size: 18px;
    }
}

@media screen and (max-width: 1300px){
    .special_block {
        width: 100%;
    }

    .special_block1 {
        margin-top: 40px;
        max-width: 90%;
    }

    .special_block2 {
        display: none;
    }

    .mobile_container {
        display: block;
    }

    .special_block_title {
        font-size: 55px;
    }

    .special_block_text {
        margin-block-start: 35px;
        font-size: 24px;
        margin-block-end: 25px;
    }

    .file_input::before {
        font-size: 20px;
    }

    .special_block_input {
        max-width: 700px;
        width: 90%;
        height: 65px;
        margin-top: 15px;
    }

    .info_file_text {
        font-size: 18px;
    }

    .special_block1_2 {
        margin-top: 75px;
    }
}

@media screen and (max-width: 800px){
    .special_block {
        background-image: url("../png/home/mobile_special_background.png");
        width: 100%;
        height: auto;
        padding-bottom: 70px;
    }

    .special_block1 {
        margin-top: 20px;
    }

    .special_block1_1 {
        margin-left: 50px;
    }

    .special_block_title {
        font-size: 35px;
    }

    .special_block_text {
        margin-block-start: 20px;
        font-size: 18px;
        margin-block-end: 20px;
    }

    .file_input::before {
        width: 250px;
        height: 50px;
        font-size: 15px;
    }

    .special_block_input {
        height: 50px;
        font-size: 18px;
        margin-top: 20px;
        margin-bottom: 0;
    }

    .info_file_text {
        font-size: 18px;
        margin-block-end: 0;
    }

    .special_block1_2 {
        margin-top: 50px;
    }

    .special_button1 {
        outline: 15px solid rgba(255, 255, 255, 0.25);
        background-color: #101A1E;
        width: 200px;
        height: 65px;
        font-size: 18px;
        margin-left: 65px;
    }

    .special_button2 {
        outline: 15px solid rgba(0, 0, 0, 0.35);
        background-color: #949494;
        width: 200px;
        height: 65px;
        font-size: 18px;
        margin-left: 65px;
    }

    .mobile_container {
        margin-top: 20px;
        margin-left: 50px;
        padding-left: 35px;
        font-size: 15px;
        width: 800px;
        max-width: 80%;
    }

    .mobile_checkmark {
        top: 6px;
        height: 12px;
        width: 12px;
        border: white 4px solid;
    }

    .mobile_container .mobile_checkmark:after {
        left: 3.5px;
        top: 1.5px;
        width: 3px;
        height: 6px;
        border-width: 0 2px 2px 0;
    }
}

@media screen and (max-width: 540px){
    .special_block {
        padding-bottom: 60px;
    }

    .special_block1 {
        margin-top: 15px;
        max-width: 100%;
    }

    .special_block1_1 {
        margin-left: 40px;
        max-width: 80%;
    }

    .special_block_title {
        font-size: 26px;
        margin-block-start: 20px;
    }

    .special_block_text {
        margin-block-start: 15px;
        font-size: 13px;
        margin-block-end: 15px;
    }

    .file_input::before {
        width: 200px;
        height: 40px;
        font-size: 12px;
    }

    .special_block_input {
        height: 40px;
        font-size: 12px;
        margin-top: 20px;
        margin-bottom: 0;
        padding-left: 15px;
    }

    .info_file_text {
        font-size: 11px;
        margin-block-end: 10px;
        margin-block-start: 10px;
    }

    .special_block1_2 {
        margin-top: 35px;
        flex-direction: column;
        align-items: center;
        row-gap: 40px;
    }

    .special_button1 {
        outline: 10px solid rgba(255, 255, 255, 0.25);
        width: 70%;
        height: 50px;
        font-size: 12px;
        margin: auto;
    }

    .special_button2 {
        outline: 10px solid rgba(255, 255, 255, 0.25);
        width: 70%;
        height: 50px;
        font-size: 12px;
        margin: auto;
    }

    .mobile_container {
        margin-top: 20px;
        margin-left: 40px;
        padding-left: 25px;
        font-size: 10px;
        width: 800px;
        max-width: 80%;
    }

    .mobile_checkmark {
        top: 1px;
        height: 12px;
        width: 12px;
        border: white 3px solid;
    }

    .mobile_container .mobile_checkmark:after {
        left: 3.5px;
        top: 1.5px;
        width: 3px;
        height: 6px;
        border-width: 0 2px 2px 0;
    }
}

