.projects_block {
    opacity: 0;
    margin-top: 100px;
    transition: 2.5s ease;
}

.visible_block {
    margin-top: 0;
    opacity: 1;
}

.projects {
    display: flex;
    width: 80%;
    max-width: 1800px;
    flex-wrap: wrap;
    margin: 40px auto;
    column-gap: 50px;
    row-gap: 40px;
    justify-content: space-around;
}

@media screen and (max-width: 500px){
    .projects {
        width: 90%;
    }
}

.project {
    width: 300px;
    height: 350px;
    background-color: #101A1E;
    border-radius: 5px;
    text-decoration: none;
}

.project_photo {
    border-radius: 5px;
    width: 100%;
    height: 225px;
}

.project_img {
    border-radius: 5px;
    width: 100%;
    object-fit: contain;
    height: 225px;
}

.project_text_block {
    display: flex;
    column-gap: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
}

.project_text {
    font-family: 'Gilroy-Bold', sans-serif;
    color: grey;
    letter-spacing: 0.4px;
    font-size: 13px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.project_value {
    font-family: 'Gilroy-Bold', sans-serif;
    color: white;
    letter-spacing: 0.4px;
    font-size: 13px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.project_name {
    font-size: 16px;
    font-family: 'Gilroy-Bold', sans-serif;
    color: white;
    letter-spacing: 0.4px;
    margin-block-start: 10px;
    margin-block-end: 10px;
    padding-left: 10px;
}



.special_block {
    max-width: 1800px;
    width: 90%;
    margin: 40px auto;
    height: 500px;
    background-size: cover;
    background-image: url("../png/about/special_background.png");
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.special_block_title {
    margin-left: 5%;
    font-size: 50px;
    max-width: 70%;
    font-family: 'Gilroy-Bold', sans-serif;
    letter-spacing: 1px;
    color: white;
    margin-block-start: 50px;
    margin-block-end: 0px;
}

.special_block_inputs {
    width: 90%;
    margin: 10px auto;
    display: flex;
    column-gap: 100px;
}

.special_block_input {
    outline:none;
    width: 40%;
    height: 50px;
    border: 2px solid #CFCFCF;
    margin-bottom: 10px;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 17px;
    font-family: 'Gilroy-Bold', sans-serif;
    color: black;
    letter-spacing: 0.7px;
}

.special_buttons {
    display: flex;
    row-gap: 40px;
}

.special_block_buttons {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 20px auto;
}

.special_button1 {
    background-color: #949494;
    width: 270px;
    height: 90px;
    font-size: 22px;
    font-family: 'Gilroy-Bold', sans-serif;
    color: #2A2A2A;
    letter-spacing: 0.7px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.7s ease;
}

.special_button1:hover {
    outline: 15px solid rgba(255, 255, 255, 0.25);
}

.special_button2 {
    background-color: #101A1E;
    width: 270px;
    height: 90px;
    font-size: 22px;
    font-family: 'Gilroy-Bold', sans-serif;
    color: white;
    letter-spacing: 0.7px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 70px;
    cursor: pointer;
    transition: 0.7s ease;
}

.special_button2:hover {
    outline: 15px solid rgba(0, 0, 0, 0.35);
}

.container {
    margin-right: 30px;
    display: block;
    position: relative;
    margin-top: 20px;
    width: 30%;
    padding-left: 30px;
    cursor: pointer;
    font-size: 15px;
    font-family: 'Gilroy-Bold', sans-serif;
    color: white;
    letter-spacing: 0.7px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container_a {
    color: white;
    text-decoration: underline;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 6px;
    left: 0;
    height: 12px;
    width: 12px;
    border-radius: 5px;
    border: white 4px solid;
    transition: 0.4s ease;
}

.container input:checked ~ .checkmark {
    background-color: white;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 3px;
    top: 0px;
    width: 4px;
    height: 7px;
    border: solid black;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

@media screen and (max-width: 1150px){
    .special_block {
        margin: 30px auto;
        height: auto;
        padding-bottom: 30px;
        background-image: url("../png/about/special_background.png");
        row-gap: 0px;
    }

    .special_block_title {
        margin-left: 5%;
        font-size: 40px;
        max-width: 75%;
        margin-block-start: 40px;
    }

    .special_block_inputs {
        margin: 50px auto 20px auto;
        row-gap: 20px;
        flex-direction: column;
    }

    .special_block_input {
        width: 90%;
        height: 50px;
        margin-bottom: 10px;
        font-size: 17px;
    }

    .special_buttons {
        display: flex;
        row-gap: 40px;
    }

    .special_block_buttons {
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
        margin-left: 5%;
        row-gap: 30px;
    }

    .special_button1 {
        width: 240px;
        height: 70px;
        font-size: 18px;
        margin-left: 0px;
    }

    .special_button1:hover {
        outline: 0px;
    }

    .special_button2 {
        width: 240px;
        height: 70px;
        font-size: 18px;
        margin-left: 70px;
    }

    .container {
        margin-right: 30px;
        margin-top: 20px;
        width: 60%;
        padding-left: 30px;
        font-size: 15px;
    }


    .checkmark {
        top: 6px;
        left: 0;
        height: 12px;
        width: 12px;
    }

    .container .checkmark:after {
        left: 3px;
        top: 0px;
        width: 4px;
        height: 7px;
    }
}

@media screen and (max-width: 700px){
    .special_block {
        margin: 40px auto;
        background-image: url("../png/about/mobile_special_background.png");
    }

    .special_block_title {
        margin-left: 10%;
        font-size: 30px;
        max-width: 80%;
    }

    .special_block_inputs {
        margin: 40px auto 15px auto;
        row-gap: 5px;
        width: 80%;
    }

    .special_block_input {
        width: 100%;
        height: 45px;
        margin-bottom: 10px;
        font-size: 15px;
    }

    .special_buttons {
        display: flex;
        row-gap: 20px;
        flex-direction: column-reverse;
    }

    .special_block_buttons {
        row-gap: 25px;
        margin: 0px auto;
        width: 80%;
    }

    .special_button1 {
        width: 200px;
        height: 60px;
        font-size: 15px;
        margin-left: 0px;
    }

    .special_button1:hover {
        outline: 0px;
    }

    .special_button2 {
        width: 200px;
        height: 60px;
        font-size: 15px;
        margin-left: 0px;
    }

    .special_button2:hover {
        outline: 0px;
    }

    .container {
        margin-right: 30px;
        margin-top: 20px;
        width: 90%;
        padding-left: 30px;
        font-size: 15px;
    }


    .checkmark {
        top: 15px;
        left: 0;
        height: 12px;
        width: 12px;
    }

    .container .checkmark:after {
        left: 3px;
        top: 0px;
        width: 4px;
        height: 7px;
    }
}