.my_project {
    opacity: 0;
    margin-top: 150px;
    transition: 2.5s ease;
    max-width: 1800px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.visible_block {
    margin-top: 50px;
    opacity: 1;
}

.project_head {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.project_back_block {
    display: flex;
    column-gap: 15px;
    text-decoration: none;
    align-items: center;
}

.project_back_img {
    width: 40px;
}

.back_project_text {
    font-family: 'Gilroy-Bold', sans-serif;
    letter-spacing: 0.7px;
    font-size: 28px;
    color: black;
    margin-block-start: 0;
    margin-block-end: 0;
}

.action_project_buttons {
    display: flex;
    column-gap: 25px;
}

.project_action_block {
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.project_compare_img, .project_like_img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.project_compare_text, .project_like_text {
    font-family: 'Gilroy-Bold', sans-serif;
    letter-spacing: 0.7px;
    font-size: 18px;
    margin-block-start: 0;
    margin-block-end: 0;
}

.project_second_block {
    max-width: 550px;
}

@media screen and (max-width: 1175px){
    .project_action_block {
        width: 170px;
    }

    .project_back_block {
        max-width: 50%;
    }

    .visible_block {
        margin-top: 30px;
    }
}

@media screen and (max-width: 900px){
    .project_head {
        flex-direction: column;
        row-gap: 20px;
    }

    .project_back_block {
        column-gap: 5px;
    }

    .back_project_text {
        font-size: 24px;
    }

    .project_compare_text, .project_like_text {
        font-size: 15px;
    }

    .project_action_block {
        width: auto;
    }

    .project_back_block {
        max-width: 100%;
    }

    .action_project_buttons {
        column-gap: 25px;
        justify-content: flex-end;
    }
}

@media screen and (max-width: 600px){
    .back_project_text {
        font-size: 22px;
    }

    .project_compare_text, .project_like_text {
        font-size: 13px;
    }

    .project_action_block {
        width: 130px;
    }

    .project_back_block {
        max-width: 100%;
    }

    .action_project_buttons {
        column-gap: 25px;
        justify-content: flex-end;
    }
}

























.my_project_body {
    display: flex;
    justify-content: space-evenly;
    column-gap: 40px;
    margin-top: 35px;
}


.slide_photo {
  vertical-align: middle;
  width: 100%;
  max-height: 500px;
  object-fit: contain;
}

.slides {
    position: relative;
    width: 60%;
    margin-top: 30px;
    height: 500px;
    max-width: 900px;
}

.slide {
    display: none;
    line-height: 100%;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 60%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  user-select: none;
  -webkit-user-select: none;
  background-color: rgba(0, 0, 0, 0.2);
}

.next {
    right: 0;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 1175px){
    .my_project_body {
        flex-direction: column-reverse;
    }

    .project_second_block {
        max-width: 100%;
    }

     .slider {
        width: 100%;
     }
}

@media screen and (max-width: 700px){
    .prev,
    .next {
      cursor: pointer;
      position: absolute;
      top: 60%;
      width: auto;
      padding: 8px;
      margin-top: -30px;
      color: white;
      font-weight: bold;
      font-size: 14px;
      user-select: none;
      -webkit-user-select: none;
    }
}


@media screen and (max-width: 500px){
    .my_project_body {
        margin-top: 15px;
    }

    .slide_photo {
        max-height: 300px;
    }

    .slider__wrapper {
        max-height: 300px;
    }
}







.layouts_count {
    display: flex;
    justify-content: center;
    margin-top: 45px;
    column-gap: 50px;
}

.layout_count_block {
    padding: 10px 20px 10px 20px;
    background-color: #C1C4C5;
    font-family: 'Gilroy-Bold', sans-serif;
    letter-spacing: 0.7px;
    font-size: 14px;
    cursor: pointer;
}

.layout_active_count_block {
    background-color: #101A1E;
    color: white;
}

.layouts_images {
    margin-top: 10px;
}

.layout_image {
    display: none;
}

.layout_active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.layout_photo {
    object-fit: cover;
    width: 600px;
    height: 330px;
}

@media screen and (max-width: 500px){
    .layout_photo {
        object-fit: cover;
        width: 95%;
        height: 200px;
    }

    .layout_count_block {
        padding: 8px 20px 8px 20px;
        font-size: 12px;
    }
}











.project_first_block {
    width: 400px;
    border: 2px solid grey;
    box-sizing: border-box;
}


.project_description {
    color: #646464;
    font-family: 'Gilroy-Bold', sans-serif;
    letter-spacing: 0.7px;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 15px 20px 15px 20px;
}

.project_area_block {
    display: flex;
}

.project_living_area_block, .project_total_area_block {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project_living_area_block {
    background-color: #262F33;
}

.project_total_area_block {
    background-color: #C1C4C5;
}

.project_living_area_title {
    color: white;
    font-family: 'Gilroy-Bold', sans-serif;
    letter-spacing: 0.7px;
    font-size: 16px;
    margin-block-start: 20px;
    margin-block-end: 10px;
}

.project_total_area_title {
    font-family: 'Gilroy-Bold', sans-serif;
    letter-spacing: 0.7px;
    font-size: 16px;
    margin-block-start: 20px;
    margin-block-end: 10px;
}

.project_living_area_value {
    color: white;
    font-family: 'Gilroy-Bold', sans-serif;
    letter-spacing: 0.7px;
    font-size: 22px;
    margin-block-start: 0;
    margin-block-end: 20px;
}

.project_total_area_value {
    font-family: 'Gilroy-Bold', sans-serif;
    letter-spacing: 0.7px;
    font-size: 22px;
    margin-block-start: 0;
    margin-block-end: 20px;
}










.project_extra_info {
    display: flex;
    background-color: #dedede;
}

.project_extra_info_block {
    width: 50%;
    display: flex;
    column-gap: 15px;
    padding: 15px 10px 15px 10px;
    align-items: flex-end;
}

.project_extra_info_title {
    font-family: 'Gilroy-Bold', sans-serif;
    letter-spacing: 0.7px;
    font-size: 18px;
    margin-block-start: 0;
    margin-block-end: 0;
    color: #3b3b3b;
}

.project_extra_info_value {
    font-family: 'Gilroy-Bold', sans-serif;
    letter-spacing: 0.7px;
    font-size: 20px;
    margin-block-start: 0;
    margin-block-end: 0;
}









.project_equipment_title_block {
    margin-top: 15px;
    margin-left: 5%;
    display: flex;
}

.project_equipment_title {
    font-family: 'Gilroy-Bold', sans-serif;
    letter-spacing: 0.7px;
    font-size: 20px;
    margin-block-start: 0;
    margin-block-end: 0;
}

.project_equipment_selector {
    background: #fff;
    border: 1px solid #ccc;
    padding: 7px;
    font-size: 16px;
    margin: 10px 5% 0px;
    font-family: 'Gilroy-Bold', sans-serif;
    letter-spacing: 0.7px;
    width: 90%;
    box-sizing: border-box;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
    outline: none;
}

.project_equipment_selector {
    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 16px;
        display: block;
        width: 10px;
        height: 2px;
        transition: all 0.3s ease-out;
        background-color: #333333;
        transform: translate(-3px, -50%) rotate(45deg);
    }
}


.project_equipment_selector::-ms-expand {
    display: none;
}


.project_price_title {
    font-family: 'Gilroy-Bold', sans-serif;
    letter-spacing: 0.7px;
    margin-top: 40px;
    margin-left: 5%;
    margin-block-end: 0;
}

.project_price_value {
    font-family: 'Gilroy-Bold', sans-serif;
    letter-spacing: 0.7px;
    margin-block-start: 5px;
    margin-block-end: 20px;
    font-size: 35px;
    margin-left: 5%;
}

.project_create_order {
    width: 90%;
    margin-left: 5%;
    background-color: #101A1E;
    height: 45px;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-family: 'Gilroy-Bold', sans-serif;
    letter-spacing: 0.7px;
    justify-content: center;
}

.project_new_price_text {
    font-family: 'Gilroy-Bold', sans-serif;
    letter-spacing: 0.7px;
    width: 90%;
    margin-top: 40px;
    margin-left: 5%;
    color: grey;
    font-size: 12px;
}

.project_new_price {
    width: 90%;
    margin-left: 5%;
    height: 45px;
    border: 2px black solid;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-family: 'Gilroy-Bold', sans-serif;
    letter-spacing: 0.7px;
    justify-content: center;
    box-sizing: border-box;
}